<form class="editable flexcol" autocomplete="off">
    {{> ($$ "npc/header") }}
    {{!-- <nav class="sheet-navigation tabs" data-group="primary" data-intro="This is a quick tutorial">
        <a class="item" data-tab="main">Attributes</a>
        <a class="item" data-tab="tiers">Tiers</a>
        <a class="item" data-tab="trappings">Trappings</a>
        {{#if actorConfig.isMagickUser}}
          <a class="item" data-tab="magick">Magick</a>
        {{/if}}
        <a class="item" data-tab="afflictions">Afflictions</a>
        <a class="item" data-tab="details">Background</a>
    </nav> --}}
    <section class="sheet-body">
      {{> ($$ "npc/tab-main") }}
    </section>
</form>
