<label>{{localize (zhConcat "ZWEI.actor.items." "Effect")}}:</label> {{{zhProcessRuleText (zhLocalize rules.effect)}}}
<label>{{localize (zhConcat "ZWEI.actor.items." "Treatment")}}:</label> {{{zhProcessRuleText (zhLocalize rules.treatment)}}}