<label>{{localize "ZWEI.actor.items.effect"}}:</label> {{{zhProcessRuleText (zhLocalize rules.effect)}}}
<label>{{localize "ZWEI.actor.items.treatment"}}:</label> {{{zhProcessRuleText (zhLocalize rules.treatment)}}}