<label>Reagents:</label> {{{zhProcessRuleText (zhLocalize rules.reagents)}}}<br />
<label>Condition:</label> {{{zhProcessRuleText (zhLocalize rules.condition)}}}<br />
<label>Consequences:</label> {{{zhProcessRuleText (zhLocalize rules.consequences)}}}<br />
<label>Ritual Effects:</label>
{{{zhProcessRuleText (zhLocalize rules.effect)}}}