<h2>System Documentation</h2>
<ul>
  <li>Roll Automations
    <ul>
      <li>Skill Tests</li>
      <li>Weapon Tests</li>
      <li>Magick Tests</li>
    </ul>
  </li>
  <li>Fortune Tracker</li>
  <li>Third-Party Module Integrations</li>
</ul>