  <div class="encumbrance-bar-container">
    <span class="encumbrance-bar"></span>
    <span class="encumbrance-label">Encumbrance: {{data.stats.secondaryAttributes.encumbrance.current}} /
      {{data.stats.secondaryAttributes.encumbrance}} <span class="overage-display">(Overage:
        {{data.stats.secondaryAttributes.encumbrance.overage}})</span></span>
    <i class="encumbrance-breakpoint encumbrance-33 arrow-up"></i>
    <i class="encumbrance-breakpoint encumbrance-33 arrow-down"></i>
    <i class="encumbrance-breakpoint encumbrance-66 arrow-up"></i>
    <i class="encumbrance-breakpoint encumbrance-66 arrow-down"></i>
  </div>