assets/
.github/
fonts/
lang/
node_modules/
packs/
readme-assets/
tinymce/
system.json
system.template.json
template.json
zweihander.css
zweihander.css.map
zweihander.js
zweihander.js.map
rollup.config.js
*.hbs
*.min.*