{{#if focuses.length}}
<span class="focus-container">
  <span class="focus-indicator"><i class="ra ra-supersonic-arrow"></i></span>
  <ol class="focus-tooltip">
    <span class="focus-tooltip-header">Focuses:</span>
  {{#each focuses as | focus key |}}
    <li><span class="focus-label">{{focus}}</span></li>
  {{/each}}
  </ol>
</span>
{{else}}
<span class="focus-container">
  <span class="focus-missing"> </span>
</span>
{{/if}}