<label>Reagents:</label> {{reagents.value}}<br />
<label>Condition:</label> {{condition.value}}<br />
<label>Consequences:</label> {{consequences.value}}<br />
<label>Ritual Effects:</label>
{{{markdownIt effect.value}}}