<label>Reagents:</label> {{{processRuleText (zhLocalize rules.reagents)}}}<br />
<label>Condition:</label> {{{processRuleText (zhLocalize rules.condition)}}}<br />
<label>Consequences:</label> {{{processRuleText (zhLocalize rules.consequences)}}}<br />
<label>Ritual Effects:</label>
{{{processRuleText (zhLocalize rules.effect)}}}