<i class="fas fa-coins currency-gc"></i> {{price.gc}}
<i class="fas fa-coins currency-ss"></i> {{price.ss}}
<i class="fas fa-coins currency-bp"></i> {{price.bp}} <br />
<label>Description:</label> {{{processRuleText flavor.description}}}