{{zhPrice price}}
<br />
{{#if (zhLocalize description)}}
  <label>Description:</label> {{{zhProcessRuleText (zhLocalize description)}}}
{{/if}}
{{#if (zhLocalize rules.effect)}}
  <br />
  <label>Effect:</label> {{{zhProcessRuleText (zhLocalize rules.effect)}}}
{{/if}}