{{zhPrice price}}
<br />
<label>Description:</label> {{{processRuleText flavor.description}}}
{{#if (zhLocalize rules.effect)}}
  <br />
  <label>Effect:</label> {{{processRuleText (zhLocalize rules.effect)}}}
{{/if}}