<form class="flexcol">
  <div class="form-group">
    <label for="difficultyRatingSelect">Difficulty Rating</label>
    <select name="difficultyRatingSelect">
      <option value="-30">Arduous -30%</option>
      <option value="-20">Hard -20%</option>
      <option value="-10">Challenging -10%</option>
      <option value="0" selected>Standard +/-0%</option>
      <option value="10">Routine +10%</option>
      <option value="20">Easy +20%</option>
      <option value="30">Trivial +30%</option>
    </select>
  </div>
  <div class="form-group">
    <label for="flipSelect">Flip</label>
    <select name="flipSelect">
      <option value="fail">To Fail</option>
      <option value="no-flip" selected>Don't Flip</option>
      <option value="succeed">To Succeed</option>
    </select>
  </div>
</form>