<form class="flexcol">
  <div class="form-group">
    <label for="extraChaos">Additional Chaos Dice</label>
    <input type="number" name="extraChaos" placeholder="0">
  </div>
  <div class="form-group">
    <label for="channelSelect">Channel Power</label>
    <select name="channelSelect">
      <option value="0" selected>Don't Channel</option>
      <option value="10">One Step (1d6 Chaos Dice)</option>
      <option value="20">Two Steps (2d6 Chaos Dice)</option>
      <option value="30">Three Steps (3d6 Chaos Dice)</option>
    </select>
  </div>
  <div class="form-group">
    <label for="difficultyRatingSelect">Difficulty Rating</label>
    <select name="difficultyRatingSelect">
      <option value="-30">Arduous -30%</option>
      <option value="-20">Hard -20%</option>
      <option value="-10" {{selectSpellDifficulty 2 principle}}>Challenging -10%</option>
      <option value="0" {{selectSpellDifficulty 1 principle}}>Standard +/-0%</option>
      <option value="10" {{selectSpellDifficulty 0 principle}}>Routine +10%</option>
      <option value="20">Easy +20%</option>
      <option value="30">Trivial +30%</option>
    </select>
  </div>
  <div class="form-group">
    <label for="flipSelect">Flip</label>
    <select name="flipSelect">
      <option value="fail">To Fail</option>
      <option value="no-flip" selected>Don't Flip</option>
      <option value="succeed">To Succeed</option>
    </select>
  </div>
</form>