<fieldset>
  <legend>Ancestral Modifiers</legend>
  <div class="form-group">
    <label>Positive</label>
    <zweihander-tags type="bonus-advances-ancestry" name="system.ancestralModifiers.positive">{{
      system.ancestralModifiers.positive
    }}</zweihander-tags>
  </div>

  <div class="form-group">
    <label>Negative</label>
    <zweihander-tags type="bonus-advances-ancestry" name="system.ancestralModifiers.negative">{{
      system.ancestralModifiers.negative
    }}</zweihander-tags>
  </div>
</fieldset>
<fieldset>
  <legend>Ancestral Trait</legend>
  <div class="form-group">
    <label>Trait</label>
    <div class="ancestral-trait">
      {{> ($$ 'partials/detail-item-wrapper') ancestralTraitWrapperData}}
      <button
        type="button"
        class="randomize-trait icon fa-solid fa-shuffle"
        data-tooltip="Randomize {{ name }} Trait"
        data-tooltip-direction="UP"
      ></button>
    </div>
  </div>
</fieldset>
