<fieldset>
  <legend>{{localize "ZWEI.actor.items.uniquebenefit"}}</legend>
  <div class="form-group stacked">
    <label>{{localize "ZWEI.actor.items.effect"}}</label>
    {{editor
      (zhLocalize system.rules.effect)
      target=(zhLocalizePath "system.rules.effect")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</fieldset>