<fieldset>
  <legend>{{localize 'ZWEI.actor.items.innateability'}}</legend>
  <div class="form-group">
    <label>{{localize "ZWEI.actor.items.effect"}}</label>
    {{editor
      html.rules.effect
      target=(zhLocalizePath "system.rules.effect")
      engine="prosemirror"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</fieldset>