<fieldset>
  <legend>Characteristics</legend>

<div class='form-group stacked'>
  <label>{{localize 'ZWEI.actor.items.effect'}}</label>
  {{editor
    html.rules.effect
    target=(zhLocalizePath 'system.rules.effect')
    engine='prosemirror'
    button=true
    owner=owner
    editable=editable
  }}
</div>
</fieldset>

<fieldset>
  <legend>Misc.</legend>

  <div class='form-group'>
    <label>Trapping Category</label>
    <input
      name='{{zhLocalizePath "system.details.category"}}'
      type='text'
      value='{{zhLocalize system.details.category}}'
    />
  </div>
</fieldset>

{{> ($$ 'partials/item-price-weight')}}