<div class="form-group">
  <label>Type</label>
  <input name="data.advanceType" type="text" value="{{data.advanceType}}">
</div>

<div class="form-group">
  <label>Reward Point Cost</label>
  <input  name="data.rewardPointCost" type="number" value="{{data.rewardPointCost}}">
</div>

<div class="form-group">
  <label>Associated Focus Skill</label>
  <input name="data.associatedFocusSkill" type="text" value="{{data.associatedFocusSkill}}">
</div>
