
<div class="item-wrapper item">
    <input class="auto-size" type="text" value="{{zhDisplayLanguages value}}" placeholder="{{placeholder}}" disabled="disabled" />
  <div class="item-wrapper-edit">
    <a class="open-language-config" data-tooltip="{{localize "ZWEI.settings.configlanguages"}}" data-tooltip-direction="UP"><i class="fas fa-pencil-alt fa-sm"></i></a>
  </div>
</div>