body.game.vtt.system-zweihander .zweihander.sheet.actor {
  .items-list {
    color: var(--zh-clr-fg1);
    list-style: none;
    margin: 0;
    padding: 0 0px;
    overflow: auto;

    .items-header {
      align-items: center;
      background: var(--zh-clr-bg1);
      border: 2px groove var(--zh-clr-bg2);
      font-weight: bold;
      height: 28px;
      margin: 2px 0;
      padding: 0;
      & > * {
        font-size: 12px;
        text-align: center;
      }

      h3.item-name {
        font-family: var(--zh-font-title);
        font-size: 12px;
        padding-left: 10px;
        padding-right: 5px;
        text-align: left;
        text-transform: uppercase;
        flex: 1 0 content;
      }

      .item-detail {
        border-right: 1px solid var(--zh-clr-bg2);
        &:nth-child(2) {
          border-left: 1px solid var(--zh-clr-bg2);
        }
        &:nth-last-child(1) {
          border: none;
        }
      }
    }
    .item-name {
      align-items: center;
      flex: 2;
      font-size: 13px;
      margin: 0;
      overflow: hidden;
      text-align: left;
      h3,
      h4 {
        margin: 0;
        overflow-x: hidden;
        white-space: nowrap;
      }
      &.rollable {
        &:hover {
          .item-image {
            &.item-image-icon {
              background-color: var(--zh-clr-yellow) !important;
              mask-image: url("../../icons/svg/d10-grey.svg") !important;
            }
            &.item-image-picture {
              border-color: var(--zh-clr-yellow);
            }
          }
        }
        .item-image:hover {
          &.item-image-icon {
            background-color: var(--zh-clr-aqua) !important;
            mask-image: url("../../icons/svg/d10-grey.svg") !important;
          }
          &.item-image-picture {
            border-color: var(--zh-clr-aqua) !important;
          }
        }
      }
    }

    .item-detail {
      border-right: 1px solid var(--zh-clr-bg1);
      font-size: 12px;
      overflow: hidden;
      text-align: center;
      white-space: nowrap;
      word-break: break-word;
      padding: 0 2px;
      text-overflow: ellipsis;
      &:nth-child(2) {
        border-left: 1px solid var(--zh-clr-bg1);
      }
      &:nth-last-child(1) {
        border: none;
      }
      &.item-detail-40 {
        flex: 0 0 40px;
      }
      &.item-detail-50 {
        flex: 0 0 50px;
      }
      &.item-detail-60 {
        flex: 0 0 60px;
      }
      &.item-detail-70 {
        flex: 0 0 70px;
      }
      &.item-detail-80 {
        flex: 0 0 80px;
      }
      &.item-detail-90 {
        flex: 0 0 90px;
      }
      &.item-detail-100 {
        flex: 0 0 100px;
      }
      &.item-detail-110 {
        flex: 0 0 110px;
      }
      &.item-detail-120 {
        flex: 0 0 120px;
      }
      &.item-detail-130 {
        flex: 0 0 130px;
      }
      &.item-detail-140 {
        flex: 0 0 140px;
      }
      &.item-detail-150 {
        flex: 0 0 150px;
      }
      &.item-detail-200 {
        flex: 0 0 200px;
      }
      &.item-detail-240 {
        flex: 0 0 240px;
      }
      & .numerable-field {
        padding: 0px 20% 0 20%;
        & .numerable-field-subtract, .numerable-field-add {
          visibility: hidden;

          height: 16px;
          flex: 3 0 12px;
          padding: 0;
          text-align: center;
          line-height: 1;
          font-size: 14px;
        }
        &:hover .numerable-field-subtract, &:hover .numerable-field-add {
          visibility: visible;
          &.hide {
            visibility: hidden;
          }
        }
        & .numerable-field-counter {
          flex: 0 0 16px;
        }
      }
    }
    .item-controls {
      flex: 0 0 60px;
      padding: 0 2px;
      justify-content: space-around;
      a.item-control {
        &.item-no-delete {
          &,
          &:hover {
            color: var(--zh-clr-bg2);
            text-shadow: none;
            cursor: not-allowed;
          }
        }
        text-align: center;
      }
    }
    .item-image {
      background-size: 30px;
      border: none;
      flex: 0 0 30px;
      height: 30px;
      margin-right: 5px;
      &.item-image-icon {
        background-color: var(--zh-clr-fg2);
        mask-mode: luminance;
        // -webkit-mask-position-y: 5px;
        mask-repeat: no-repeat;
        mask-size: 30px;
      }
      &.item-image-picture {
        // background-position-y: 5px;
        background-repeat: no-repeat;
        background-size: 30px;
        border: 1px solid transparent;
        height: 30px;
      }
    }
    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .item {
      align-items: center;
      border-bottom: 1px solid var(--zh-clr-bg1);
      padding: 0 2px;
      .item-name {
        cursor: pointer;
        &:hover {
          color: var(--zh-clr-yellow);
          .item-image {
            &.item-image-icon {
              background-color: var(--zh-clr-yellow-alt);
            }
            &.item-image-picture {
              border-color: var(--zh-clr-yellow-alt);
            }
          }
        }
      }
    }
    .item-summary {
      border-top: 1px solid var(--zh-clr-bg1);
      color: var(--zh-clr-fg0);
      display: none;
      flex: 0 0 100%;
      font-size: 12px;
      line-height: 16px;
      padding: 0.25em 0.5em;
      &.open {
        display: block;
      }
      & p:first-of-type {
        display: inline;
      }
      label {
        color: var(--zh-clr-fg3);
      }
      a.not-purchased {
        color: var(--zh-clr-red);
        &:hover {
          color: var(--zh-clr-purple);
          text-shadow: none;
        }
      }
      a.purchased {
        color: var(--zh-clr-aqua);
        &:hover {
          color: var(--zh-clr-yellow);
          text-shadow: none;
        }
      }
      .item-summary-longform {
        text-align: justify;
        text-indent: 1ch;
      }
    }
  }

  .skills-container {
    position: relative;
    .width-change-listener {
      border: none;
      height: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
    .skills-list {
      display: grid;
      flex: 1 0 0;
      // flex: 1 0 480px;
      // max-height: 100%;
      grid-auto-rows: minmax(24px, 1fr);
      grid-template-columns: repeat(
        auto-fill,
        minmax(max(135px, calc(100% / 2)), 1fr)
      );
      list-style: none;
      overflow-y: auto;
      padding: 0px 0 0px;
      // background: repeating-linear-gradient(var(--zh-clr-bg1) 0 24px,transparent 24px 48px);
      .skill {
        line-height: 1.7;
        overflow: hidden;
        padding: 3px;
        .skill-roll {
          flex: 1 0 124px;
          height: 100%;
          overflow: hidden;
          min-width: 0;
          padding-left: 5px;
          span {
            display: inline-block;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .skill-info {
          flex: 0 0 80px;
          justify-content: flex-end;
        }
        .skill-rank {
          flex: 0 0 40px;
          text-align: center;
        }
        &:hover .skill-gain,
        &:hover .skill-roll,
        &:hover .skill-rank {
          color: var(--zh-clr-yellow);
        }
        .skill-gain {
          color: var(--zh-clr-fg3);
          flex: 0 0 4ex;
          margin-right: 1ex;
          text-align: right;
        }
        .controls {
          color: var(--zh-clr-fg4);
          flex: 0 0 2ex;
          margin-top: -1px;
          visibility: hidden;
          &:hover {
            color: var(--zh-clr-fg1);
          }
        }
        &:hover .controls {
          visibility: visible;
        }
      }
      &.two-rows .skill:nth-child(4n),
      &.two-rows .skill:nth-child(4n + 1),
      &:not(.two-rows) .skill:nth-child(2n) {
        background-color: rgba(var(--zh-clr-bg1-rgb), 0.5);
      }
    }
  }

  &.damage-tracker {
    > section.window-content > form {
      position: relative;
    }

    > section.window-content::before,
    > section.window-content::after,
    > section.window-content > form::before,
    > section.window-content > form::after {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      background-repeat: no-repeat;
      z-index: -1;
    }

    > section.window-content::before,
    > section.window-content::after {
      height: calc(100% - 30px);
      top: 30px;
      z-index: 0;
    }

    > section.window-content::before {
      background-image: resolve("bloodstains2.webp");
      background-size: 700px 700px;
      background-position: bottom -420px right -320px;
    }

    &.damage-tracker-4 > section.window-content::before {
      opacity: 0.35;
    }

    & > section.window-content > form::before {
      height: 500px;
      width: 500px;
      left: -130px;
      top: -140px;
      background-image: resolve("bloodstains.webp");
      background-size: 500px 500px;
      transform: rotate(93deg) scale(0.5);
    }
    &.character > section.window-content > form::before {
      left: -20px;
      top: -10px;
    }
    &.damage-tracker-3 > section.window-content > form::before {
      opacity: 0.5;
    }

    &.damage-tracker-2 > section.window-content::before {
      background-image: resolve("bloodstains2.webp"),
        resolve("bloodstains2.webp");
      background-size: 700px 700px, 700px 700px;
      background-position: bottom -420px right -320px, bottom -320px left -320px;
      opacity: 0.4;
    }

    & > section.window-content > form::after {
      height: 500px;
      width: 500px;
      background-image: resolve("bloodstains.webp");
      background-size: 500px 500px;
      transform: rotate(-123deg);
      bottom: calc(50% - 350px);
      right: -230px;
    }
    &.damage-tracker-1 > section.window-content > form::after {
      opacity: 0.4;
    }

    > section.window-content::after {
      background-image: resolve("bloodstains.webp");
      background-size: 500px 500px;
      background-position: top -150px right -90px;
    }

    &.damage-tracker-0 > section.window-content::after {
      opacity: 0.48;
    }
  }
  .zweihander-theme-gruvbox-light {
    .damage-tracker::before,
    .damage-tracker::after,
    .damage-tracker > section.window-content > form::before,
    .damage-tracker > section.window-content > form::after {
      opacity: 0.12 !important;
    }
  }
  .peril-tracker {
    &.peril-tracker-4 {
      filter: hue-rotate(15deg) blur(0.4px) saturate(1.2) sepia(0.5);
    }
  
    &.peril-tracker-3 {
      filter: hue-rotate(20deg) blur(0.6px) contrast(1.3) sepia(0.5) saturate(1.2)
        brightness(1.1);
    }
  
    &.peril-tracker-2 {
      filter: hue-rotate(25deg) blur(0.8px) contrast(1.4) saturate(1.4)
        brightness(1.3) sepia(0.6);
    }
  
    &.peril-tracker-1 {
      filter: hue-rotate(125deg) blur(1px) contrast(1.4) saturate(2.5)
        brightness(1.3) sepia(0.6);
    }
  
    &.peril-tracker-0 {
      filter: hue-rotate(225deg) blur(2px) contrast(1.8) saturate(4)
        brightness(1.8) sepia(0.9);
    }
  }
}


