.tab.main {
  overflow-y: auto;
  .primary-attributes {
    border: 2px groove var(--zh-clr-bg2);
    border-radius: 3px;
    flex: 0 0 50px;
    font-size: 14px;
    // height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    .pa {
      border-bottom: 2px groove var(--zh-clr-bg2);
      display: flex;
      flex: 1 0 72px;
      flex-direction: column;
      justify-content: center;
      padding-top: 5px;
      position: relative;
      text-align: center;
      width: 100%;
      input {
        font-size: 28px;
        height: 30px;
        line-height: 32px;
        margin: 0 auto;
        text-align: center;
        width: 36px;
      }
      &:last-of-type {
        border: none;
      }
      h4.block-title,
      pa-icon {
        transition: color 175ms ease-in;
      }
      &.pa-hover-helper {
        h4.block-title,
        .pa-icon {
          color: var(--zh-clr-yellow);
          transition: color 350ms ease-out;
        }
      }
    }
    .pa-display {
      align-items: center;
      margin: 0 20px;
      .pa-icon {
        color: var(--zh-clr-fg4);
        flex: 0 0 10px;
        font-size: 16px;
        padding-top: 4px;
      }
      .pa-bonus {
        font-size: 18px;
      }
    }
  }

  .skills-container {
    flex: 1 0 212px;
    border: 2px groove var(--zh-clr-bg2);
    margin: 0 5px;
    border-radius: 3px;
  }

  .combat-container {
    border: 2px groove var(--zh-clr-bg2);
    border-radius: 3px;
    flex: 0 0 375px;
    @keyframes spin2 {
      0% {
        color: var(--zh-clr-aqua-alt);
        filter: blur(0.2px);
        transform: translate(-7px, -115px) scale(1.4) rotate(-14deg);
      }
      15% {
        color: var(--zh-clr-aqua);
      }
      35% {
        color: var(--zh-clr-bg0);
      }
      40% {
        filter: blur(0.1px);
        transform: translate(-7px, -115px) scale(2) rotate(0deg);
      }

      50% {
        color: var(--zh-clr-bg0);
        filter: blur(0px);
        transform: translate(-7px, -115px) scale(4) rotate(0deg);
      }

      60% {
        filter: blur(2px);
        transform: translate(-7px, -115px) scale(2) rotate(0deg);
      }
      72% {
        transform: translate(-7px, -115px) scale(2) rotate(-3deg);
      }
      79% {
        transform: translate(-7px, -115px) scale(1.8) rotate(-7deg);
      }
      80% {
        color: var(--zh-clr-aqua);
        transform: translate(-7px, -115px) scale(1.4) rotate(-11deg);
      }
      83% {
        transform: translate(-7px, -115px) scale(1.7) rotate(-13deg);
      }
      100% {
        color: var(--zh-clr-aqua-alt);
        filter: blur(0.2px);
        transform: translate(-7px, -115px) scale(1.4) rotate(-14deg);
      }
    }
    @keyframes color1 {
      10% {
        color: var(--zh-clr-aqua-alt);
      }
      15% {
        color: var(--zh-clr-bg2);
      }
      35% {
        color: var(--zh-clr-fg0);
      }
      50% {
        color: var(--zh-clr-red);
      }
      60% {
        color: var(--zh-clr-red);
      }
      76% {
        color: var(--zh-clr-aqua);
      }
      100% {
        color: var(--zh-clr-aqua-alt);
      }
    }
    @keyframes color2 {
      0% {
        background: var(--zh-clr-aqua);
      }
      15% {
        background: var(--zh-clr-aqua);
      }
      35% {
        background: var(--zh-clr-bg0);
      }
      50% {
        background: var(--zh-clr-bg0);
      }
      75% {
        background: var(--zh-clr-aqua);
      }
      100% {
        background: var(--zh-clr-aqua);
      }
    }
    @keyframes opacity1 {
      0% {
        opacity: 1;
      }
      15% {
        opacity: 1;
      }
      24% {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes pulsetext {
      0% {
        color: var(--zh-clr-aqua-alt);
        transform: scale(1.25);
      }
      50% {
        color: var(--zh-clr-bg0);
        transform: scale(1.3);
      }
      100% {
        color: var(--zh-clr-aqua-alt);
        transform: scale(1.25);
      }
    }
    .combat-stats {
      border-bottom: 2px groove var(--zh-clr-bg2);
      flex: 0 0 70px;
      padding-top: 5px;
    }
    .combat-reactions {
      border-bottom: 2px groove var(--zh-clr-bg2);
      flex: 0 0 94px;
      padding-top: 5px;
    }
    .peril-rolls {
      border-bottom: 2px groove var(--zh-clr-bg2);
      flex: 1 0 50px;
      font-family: var(--zh-font-title);
      font-size: 14px;
      justify-content: space-evenly;
      & > div {
        align-items: center;
        flex: 0;
        justify-content: center;
        padding-top: 5px;
        /* &.fear {
          border-right: 2px groove var(--zh-clr-bg2);
          border-left: 2px groove var(--zh-clr-bg2);
        } */
        & a.image-container {
          background-color: var(--zh-clr-aqua);
          height: 28px;
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;
          min-height: 28px;
          width: 28px;
          &.stress {
            mask-image: url("../zweihander/assets/icons/paranoia.svg");
            &:hover {
              background-color: var(--zh-clr-yellow);
            }
          }
          &.fear {
            mask-image: url("../zweihander/assets/icons/surprised.svg");
            &:hover {
              background-color: var(--zh-clr-orange);
            }
          }
          &.terror {
            mask-image: url("../zweihander/assets/icons/screaming.svg");
            &:hover {
              background-color: var(--zh-clr-red);
            }
          }
        }
        & span {
          font-family: var(--font-primary);
          margin-top: 2px;
        }
      }
    }
    .combat-spacer {
      background: var(--zh-clr-aqua);
      border-bottom: 2px groove var(--zh-clr-bg2);
      color: var(--zh-clr-aqua-alt);
      flex: 1 0 50px;
      font-family: var(--zh-font-title);
      font-size: 8px;
      overflow: hidden;
      position: relative;
      text-transform: uppercase;
      &:hover {
        animation: color2 5s ease-in-out infinite;
        .combat-spacer-text {
          animation: spin2 5s ease-in-out infinite;
          .fancy-zweihander {
            animation: color1 5s ease-in-out infinite;
          }
        }
        .combat-spacer-gradient {
          animation: opacity1 5s ease-in-out infinite;
        }
      }
      .combat-spacer-gradient {
        background: radial-gradient(
          ellipse 120% 65% at center,
          transparent,
          transparent 40%,
          var(--zh-clr-aqua) 66%
        );
        height: 100%;
        position: absolute;
        width: 376px;
      }
      .combat-spacer-text {
        filter: blur(0.2px);
        flex: 1 0 60px;
        position: relative;
        text-align: justify;
        top: 50%;
        transform: translate(-7px, -115px) scale(1.4) rotate(-14deg);
        transform-origin: 210px 118px;
        width: 200px;
        .fancy-zweihander {
          animation: pulsetext 8s linear infinite both;
          color: var(--zh-clr-aqua-alt);
          display: inline-block;
          margin: 1ex 3ex;
          transform: scale(1.25);
        }
      }
    }
    .condition-thresholds {
      border-bottom: 2px groove var(--zh-clr-bg2);
      flex: 0 0 120px;
      padding-top: 5px;

      .peril,
      .damage {
        margin: 0 5px;
      }
      .values-derived-bracket {
        color: var(--zh-clr-bg1);
        flex: 0 0 35px;
        font-family: var(--zh-font-title);
        font-size: 75px;
        height: 72px;
        line-height: 65px;
        position: relative;
        top: -8px;
      }
      .values-derived {
        height: 72px;
      }
      .threshold-value {
        height: 60px;
        left: 12px;
        position: relative;
        top: 14px;
      }
      .inline-formula {
        color: var(--zh-clr-fg3);
        display: inline-block;
        margin-right: 0.5ex;
        text-align: right;
        width: 3.25ex;
      }
    }
    .condition-tracker {
      flex: 0 0 190px;
      padding-top: 5px;
      h4.block-title {
        margin-bottom: 1.5ex;
      }
      .condition-tracker-list {
        &.damage-list {
          .radio-and-status {
            margin-left: 55px;
            margin-right: 0;
            text-align: left;
          }
          input[type="radio"] + label::before {
            left: -23px;
          }
        }
      }
      .radio-and-status {
        flex: 1 0 18px;
        margin-right: 55px;
        text-align: right;
      }
      input[type="radio"] {
        appearance: none;
        display: none;
        & + label {
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          position: relative;
          text-align: center;
          z-index: 1000;
          &:hover {
            color: var(--zh-clr-yellow);
            &::before {
              border-color: var(--zh-clr-yellow);
              color: var(--zh-clr-yellow);
              content: "x";
            }
          }
          &::before {
            border: 1px solid var(--zh-clr-bg3);
            border-radius: 50%;
            content: " ";
            display: block;
            height: 12px;
            line-height: 12px;
            position: absolute;
            right: -23px;
            top: 0px;
            width: 12px;
            z-index: -1;
          }
        }
        &:checked + label {
          color: var(--zh-clr-aqua);
          &::before {
            background: var(--zh-clr-aqua);
            border: 1px solid var(--zh-clr-aqua-alt);
            color: var(--zh-clr-bg0);
            content: "x";
          }
        }
      }
    }
    .values {
      .value,
      .formula {
        display: block;
        font-size: 28px;
        line-height: 24px;
        margin-top: 5px;
        text-align: center;
        &.color-overage:not([data-overage="0"]) {
          color: var(--zh-clr-red);
        }
      }
      .formula {
        color: var(--zh-clr-fg3);
        font-size: 12px;
        line-height: 18px;
        margin-top: 0px;
      }
    }
    .dodge,
    .parry {
      margin: 0 5ex;
      .combat-icon {
        color: var(--zh-clr-aqua);
        &:hover {
          color: var(--zh-clr-yellow);
          text-shadow: none;
        }
      }
    }
    .skill-dropdown {
      margin: 5px 0 5px 0;
    }
    h4.block-title {
      flex: 0 1 1.8em;
    }
  }
}
