body.game.vtt.system-zweihander .zweihander.sheet.actor {
  aside.details {
    flex: 0 0 content;
    padding: 5px 8px 0px 8px;
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      justify-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        flex: 1 0 content;
        display: flex;
        flex-flow: row nowrap;
        margin: 2px;
        max-width: 100%;
        & > * {
          flex: 1 0 0;
        }
        &.influences {
          flex: 2 0 content;
        }
        .prefix,
        .postfix {
          flex: 0 0 content;
          padding-top: 7px;
          font-size: 11px;
          font-style: italic;
          color: var(--zh-clr-fg3);
        }
        .prefix {
          margin-right: 5px;
        }
        .postfix {
          margin-left: 5px;
        }
        input,
        select {
          // backdrop-filter: blur(2px);
          background-color: rgba(var(--zh-clr-bg0-rgb), 0.5);
          border: 2px groove var(--zh-clr-bg2);
          border-radius: 3px;
          color: var(--zh-clr-fg2);
          height: 100%;
          padding: 3px;
          text-align: center;
          &:not(:disabled) {
            &:hover,
            &:focus,
            &:active {
              background-color: var(--zh-clr-bg1);
              background-color: rgba(var(--zh-clr-bg1-rgb), 0.5);
              border-color: var(--zh-clr-aqua);
              box-shadow: 0 0 6px var(--zh-clr-bg2);
            }
          }
        }
        select {
          appearance: none;
        }
        .risk-factor {
          display: flex;
          width: auto;
          flex: 1 0 content;
          .risk-factor-value {
            flex: 1 0 0;
            border-right-style: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          .risk-factor-notch {
            flex: 1 0 0;
            border-left-style: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
    .item-wrapper {
      position: relative;

      .item-wrapper-edit {
        display: none;
        top: 2px;
        left: 2px;
        color: var(--zh-clr-aqua);
        font-size: 16px;
        padding-top: 2px;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        position: absolute;
        background-color: rgba(var(--zh-clr-bg0-rgb), 0.5);
        backdrop-filter: blur(0.8px);
        a {
          flex: 1;
          text-align: center;
        }
      }

      &:hover .item-wrapper-edit {
        display: flex;
      }

      &:hover input {
        background-color: var(--zh-clr-bg1);
        background-color: rgba(var(--zh-clr-bg1-rgb), 0.9);
        border-color: var(--zh-clr-aqua);
        box-shadow: 0 0 6px var(--zh-clr-bg2);
      }
    }
  }

  .items-list {
    color: var(--zh-clr-fg1);
    list-style: none;
    margin: 0;
    padding: 0 0px;
    overflow: auto;
    position: relative;

    .padder {
      order: -2;
      width: 10px;
      margin-right: 3px;
    }

    .sort-indicator {
      text-align: center;
      display: block;
      visibility: hidden;
      position: relative;
      /*
      position: absolute;
      left: calc(100% + 2px);
      top: 0px;
      font-size: 10px;
      font-family: var(--font-primary);
      width: 20px;
      height: 12px; 
      flex: 1 0 10px;*/
      /* position: unset; */
      font-size: 13px;
      height: 15px;
      width: 9px;
      /* left: unset; */
      margin-left: 3px;
      /* margin-top: 1px; */
      font-family: var(--font-primary);
      & > .fa-sort-up,
      & > .fa-sort-down {
        visibility: visible;
      }
      i {
        color: var(--zh-clr-bg3);
        &.fa-sort-up {
          color: var(--zh-clr-aqua);
        }
        &.fa-sort-down {
          color: var(--zh-clr-red-alt);
        }
      }
      span.sort-order {
        font-size: 8px;
        color: var(--zh-clr-fg4);
        position: absolute;
        left: 2px;
        font-weight: lighter;
        top: -3px;
        &.sort-order-1 {
          top: 6px;
        }
        &.sort-order-1,
        &.sort-order--1 {
          visibility: visible;
        }
      }
    }
    .filter-indicator {
      display: none;
      /* position: absolute; */
      /* left: 0px; */
      /* right: 0; */
      /* margin-left: -6px; */
      /* top: 2px; */
      font-size: 10px;
      color: var(--zh-clr-bg4);
      /* border-radius: 50%; */
      /* padding-left: 2px; */
      /* width: 12px; */
      width: 10px;
      height: 15px;
      cursor: pointer;
      order: -1;
      margin-right: 3px;
      &:hover {
        color: var(--zh-clr-yellow);
      }
      &.filter-active {
        display: block;
        color: var(--zh-clr-yellow);
        & + .padder {
          display: none;
        }
        /* background-color: var(--zh-clr-yellow-alt); */
      }
    }
    .filter-input {
      display: none;
      position: absolute;
      right: 3px;
      left: 3px;
      bottom: 0px;
      top: 0px;
      background-color: var(--zh-clr-bg1);
      &.filter-input-active {
        display: flex;
      }
      i {
        position: absolute;
        left: 3px;
        top: 3px;
        &.filter-active {
          color: var(--zh-clr-yellow);
        }
        font-size: 9px;
        cursor: pointer;
      }
      input {
        font-family: var(--font-primary);
        text-align: left;
        width: unset;
        flex: 1;
        padding: 2px 2px 2px 14px;
        height: 100%;
        border-radius: 3px;
        background-color: var(--zh-clr-bg2);
        border: none;
        &:focus,
        &:hover {
          border: none;
          box-shadow: none;
        }
      }
    }

    .sortable,
    .filterable {
      &,
      & .detail-title {
        position: relative;
        & .detail-title:hover > .sort-indicator {
          visibility: visible;
        }
        & .detail-title:hover > .filter-indicator {
          display: block;
          & + .padder {
            display: none;
            background-color: red;
            height: 15px;
          }
        }
        & .secondary {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          &.pad {
            padding-left: 13px;
          }
          & .filter-indicator {
            margin-top: 3px;
          }
        }
      }
    }

    .sortable {
      cursor: pointer;
    }

    .items-header {
      align-items: center;
      background: var(--zh-clr-bg1);
      border: 2px groove var(--zh-clr-bg2);
      font-weight: bold;
      height: 28px;
      margin: 2px 0;
      position: sticky;
      top: 0;
      padding: 0;
      z-index: 102;
      & > * {
        font-size: 12px;
        text-align: center;
      }

      &:first-of-type {
        margin-top: 0;
      }

      h3.item-name {
        font-family: var(--zh-font-title);
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: left;
        text-transform: uppercase;
        flex: 1 0 content;
        border: none;
        .detail-title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          /* margin-left: 12px; */
        }
      }

      .item-detail {
        border-right: 1px solid var(--zh-clr-bg2);
        &:nth-child(2) {
          border-left: 1px solid var(--zh-clr-bg2);
        }
        &:nth-last-child(1) {
          border: none;
        }
      }
    }
    .item-name {
      align-items: center;
      flex: 2;
      font-size: 13px;
      margin: 0;
      overflow: hidden;
      text-align: left;
      h3,
      h4 {
        margin: 0;
        overflow-x: hidden;
        white-space: nowrap;
      }
      &.rollable {
        &:hover {
          .item-image {
            &.item-image-icon {
              background-color: var(--zh-clr-yellow) !important;
              mask-image: url('/icons/svg/d10-grey.svg') !important;
            }
            &.item-image-picture {
              border-color: var(--zh-clr-yellow);
            }
          }
        }
        .item-image:hover {
          &.item-image-icon {
            background-color: var(--zh-clr-aqua) !important;
            mask-image: url('/icons/svg/d10-grey.svg') !important;
          }
          &.item-image-picture {
            border-color: var(--zh-clr-aqua) !important;
          }
        }
      }
    }

    .item-detail {
      border-right: 1px solid var(--zh-clr-bg1);
      font-size: 12px;
      overflow: hidden;
      text-align: center;
      white-space: nowrap;
      word-break: break-word;
      padding: 0 2px;
      text-overflow: ellipsis;
      flex: 0 0 auto;
      &:nth-child(2) {
        border-left: 1px solid var(--zh-clr-bg1);
      }
      &:nth-last-child(1) {
        border: none;
      }
      & .numerable-field {
        justify-content: center;
        & .numerable-field-subtract,
        .numerable-field-add {
          visibility: hidden;
          height: 16px;
          flex: 0 0 16px;
          padding: 0;
          text-align: center;
          line-height: 1;
          font-size: 14px;
        }
        &:hover .numerable-field-subtract,
        &:hover .numerable-field-add {
          visibility: visible;
          &.hide {
            visibility: hidden;
          }
        }
        & .numerable-field-counter {
          flex: 0 0 content;
          padding: 0 3px;
        }
      }
    }
    .item-controls {
      flex: 0 0 60px;
      padding: 0 2px;
      justify-content: space-around;
      a.item-control {
        &.item-no-delete {
          &,
          &:hover {
            color: var(--zh-clr-bg2);
            text-shadow: none;
            cursor: not-allowed;
          }
        }
        text-align: center;
      }
    }
    .item-image {
      background-size: 30px;
      border: none;
      flex: 0 0 30px;
      height: 30px;
      margin-right: 5px;
      &.item-image-icon {
        background-color: var(--zh-clr-fg2);
        mask-mode: luminance;
        // -webkit-mask-position-y: 5px;
        mask-repeat: no-repeat;
        mask-size: 30px;
      }
      &.item-image-picture {
        // background-position-y: 5px;
        background-repeat: no-repeat;
        background-size: 30px;
        border: 1px solid transparent;
        height: 30px;
      }
    }
    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .item {
      align-items: center;
      border-bottom: 1px solid var(--zh-clr-bg1);
      padding: 0 2px;
      &:last-of-type {
        border-bottom: none;
      }
      .item-name {
        cursor: pointer;
        &:hover {
          color: var(--zh-clr-yellow);
          .item-image {
            &.item-image-icon {
              background-color: var(--zh-clr-yellow-alt);
            }
            &.item-image-picture {
              border-color: var(--zh-clr-yellow-alt);
            }
          }
        }
        & .profession-warn {
          margin-left: 5px;
          color: var(--zh-clr-yellow-alt);
        }
      }
    }
    .item-summary {
      border-top: 1px solid var(--zh-clr-bg1);
      color: var(--zh-clr-fg0);
      display: none;
      flex: 0 0 100%;
      font-size: 12px;
      line-height: 16px;
      padding: 0.25em 0.5em;
      &.open {
        display: block;
      }
      & label + p {
        display: inline;
      }
      .separator {
        margin-bottom: 1px;
        & p:last-child {
          margin-bottom: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      label {
        color: var(--zh-clr-fg3);
      }
      a.not-purchased {
        color: var(--zh-clr-red);
        &:hover {
          color: var(--zh-clr-purple);
          text-shadow: none;
        }
      }
      a.purchased {
        color: var(--zh-clr-aqua);
        &:hover {
          color: var(--zh-clr-yellow);
          text-shadow: none;
        }
      }
      a.duplicate {
        color: var(--zh-clr-yellow);
        pointer-events: none;
        &:hover {
          color: var(--zh-clr-purple);
          text-shadow: none;
        }
      }
      .item-summary-longform {
        text-align: justify;
        text-indent: 1ch;
      }
    }
  }

  .skills-container {
    position: relative;
    .dimension-change-listener {
      height: 0;
      bottom: unset;
    }
    .skills-list {
      display: grid;
      flex: 1 0 0;
      // flex: 1 0 480px;
      // max-height: 100%;
      grid-auto-rows: minmax(24px, 1fr);
      grid-template-columns: repeat(auto-fill, minmax(max(135px, calc(100% / 2)), 1fr));
      list-style: none;
      overflow-y: auto;
      padding: 0px 0 0px;
      // background: repeating-linear-gradient(var(--zh-clr-bg1) 0 24px,transparent 24px 48px);
      .skill {
        line-height: 1.7;
        overflow: hidden;
        padding: 3px;
        .skill-name {
          flex: 1 0 120px;
          height: 100%;
          overflow: hidden;
          min-width: 0;
          padding-left: 5px;
          span {
            display: inline-block;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .skill-info {
          flex: 0 0 80px;
          justify-content: flex-end;
        }
        .skill-rank {
          flex: 0 0 40px;
          text-align: center;
        }
        &:hover {
          color: var(--zh-clr-yellow);
          cursor: pointer;
        }
        .skill-gain {
          color: var(--zh-clr-fg3);
          flex: 0 0 4ex;
          margin-right: 1.5ex;
          text-align: right;
        }
        .controls {
          color: var(--zh-clr-fg4);
          flex: 0 0 2ex;
          margin-top: -1px;
          visibility: hidden;
          &:hover {
            color: var(--zh-clr-fg1);
          }
        }
        &:hover .controls {
          visibility: visible;
        }
      }
      &.two-rows .skill:nth-child(4n),
      &.two-rows .skill:nth-child(4n + 1),
      &:not(.two-rows) .skill:nth-child(2n) {
        background-color: rgba(var(--zh-clr-bg1-rgb), 0.5);
      }
    }
  }

  &.damage-tracker {
    > section.window-content > form {
      position: relative;
    }

    > section.window-content::before,
    > section.window-content::after,
    > section.window-content > form::before,
    > section.window-content > form::after {
      content: ' ';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      background-repeat: no-repeat;
      z-index: -1;
    }

    > section.window-content::before,
    > section.window-content::after {
      height: calc(100% - 30px);
      top: 30px;
      z-index: 0;
    }

    > section.window-content::before {
      background-image: url('/systems/zweihander/assets/bloodstains2.webp');
      background-size: 700px 700px;
      background-position: bottom -420px right -320px;
    }

    &.damage-tracker-4 > section.window-content::before {
      opacity: 0.35;
    }

    & > section.window-content > form::before {
      height: 500px;
      width: 500px;
      left: -130px;
      top: -140px;
      background-image: url('/systems/zweihander/assets/bloodstains.webp');
      background-size: 500px 500px;
      transform: rotate(93deg) scale(0.5);
    }
    &.character > section.window-content > form::before {
      left: -20px;
      top: -10px;
    }
    &.damage-tracker-3 > section.window-content > form::before {
      opacity: 0.5;
    }

    &.damage-tracker-2 > section.window-content::before {
      background-image: url('/systems/zweihander/assets/bloodstains2.webp'),
        url('/systems/zweihander/assets/bloodstains2.webp');
      background-size: 700px 700px, 700px 700px;
      background-position: bottom -420px right -320px, bottom -320px left -320px;
      opacity: 0.4;
    }

    & > section.window-content > form::after {
      height: 500px;
      width: 500px;
      background-image: url('/systems/zweihander/assets/bloodstains.webp');
      background-size: 500px 500px;
      transform: rotate(-123deg);
      bottom: calc(50% - 350px);
      right: -230px;
    }
    &.damage-tracker-1 > section.window-content > form::after {
      opacity: 0.4;
    }

    > section.window-content::after {
      background-image: url('/systems/zweihander/assets/bloodstains.webp');
      background-size: 500px 500px;
      background-position: top -150px right -90px;
    }

    &.damage-tracker-0 > section.window-content::after {
      opacity: 0.48;
    }
  }
  .zweihander-theme-gruvbox-light {
    .damage-tracker::before,
    .damage-tracker::after,
    .damage-tracker > section.window-content > form::before,
    .damage-tracker > section.window-content > form::after {
      opacity: 0.12 !important;
    }
  }
  .peril-tracker {
    &.peril-tracker-4 {
      filter: hue-rotate(15deg) blur(0.4px) saturate(1.2) sepia(0.5);
    }

    &.peril-tracker-3 {
      filter: hue-rotate(20deg) blur(0.6px) contrast(1.3) sepia(0.5) saturate(1.2) brightness(1.1);
    }

    &.peril-tracker-2 {
      filter: hue-rotate(25deg) blur(0.8px) contrast(1.4) saturate(1.4) brightness(1.3) sepia(0.6);
    }

    &.peril-tracker-1 {
      filter: hue-rotate(125deg) blur(1px) contrast(1.4) saturate(2.5) brightness(1.3) sepia(0.6);
    }

    &.peril-tracker-0 {
      filter: hue-rotate(225deg) blur(2px) contrast(1.8) saturate(4) brightness(1.8) sepia(0.9);
    }
  }
}
