
  <div class="currency-container flexrow">
    <div class="currency-gc flexcol">
      <input class="coin-input brass" type="number" name="data.coinage.gold" value="{{data.coinage.gold}}"
        placeholder="0" />
      <span><i class="fas fa-coins"></i> Gold Coins</span>
    </div>
    <div class="currency-ss flexcol">
      <input class="coin-input brass" type="number" name="data.coinage.silver" value="{{data.coinage.silver}}"
        placeholder="0" />
      <span><i class="fas fa-coins"></i> Silver Shilling</span>
    </div>
    <div class="currency-bp flexcol">
      <input class="coin-input brass" type="number" name="data.coinage.brass" value="{{data.coinage.brass}}"
        placeholder="0" />
      <span><i class="fas fa-coins"></i> Brass Pennies</span>
    </div>
    <div class="flexcol">
      <button style="visibility:hidden" class="currency-converter zweihander-button" type="button"><i
          class="fa fa-exchange-alt"></i> Exchange</button>
      <span class="exchange-rates">
        1 <i class="fas fa-coins currency-gc"></i> = 20 <i class="fas fa-coins currency-ss"></i> = 240 <i
          class="fas fa-coins currency-bp"></i>
      </span>
    </div>
  </div>