<div class="tab background flexcol" data-group="primary" data-tab="details">
  <div>
    <h4 class="block-title">Biography</h4>
  {{editor content=data.flavor.description target="data.flavor.description" button=true owner=owner editable=editable rollData=rollData}}
  </div>
  <div>
    <h4 class="block-title">Campaign Notes</h4>
  {{editor content=data.flavor.notes target="data.flavor.notes" button=true owner=owner editable=editable rollData=rollData}}
  </div>
</div>