// Dice Tray
.dice-tray__buttons {
  height: 30px;
}
.dice-tray button svg {
  height: 30px;
}
.dice-tray__button[data-formula='d4'],
.dice-tray__button[data-formula='d8'],
.dice-tray__button[data-formula='d12'],
.dice-tray__button[data-formula='d20'] {
  display: none;
}
.dice-tray input[type='text'] {
  box-shadow: none;
  border: none;
  margin: 0 1px;
  color: var(--zh-clr-fg2);
  &:hover,
  &:focus {
    background-color: var(--zh-clr-bg2);
    color: var(--zh-clr-yellow);
  }
}
.dice-tray button {
  font-family: var(--zh-font-title);
  text-transform: uppercase;
  background-color: var(--zh-clr-bg1);
  border-color: var(--zh-clr-bg1);
  color: var(--zh-clr-fg2);
  .dice-tray__flag {
    background-color: var(--zh-clr-aqua);
    color: var(--zh-clr-bg0);
    left: -1px;
    right: -1px;
  }
  &.dice-tray__roll {
    color: var(--zh-clr-bg1);
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      mask-image: url('./systems/zweihander/assets/icons/rolling-dices.svg');
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 35px;
      background-color: var(--zh-clr-fg2);
    }
    &:hover {
      color: var(--zh-clr-bg2);
      &::before {
        background-color: var(--zh-clr-yellow);
      }
    }
  }
  &.dice-tray__button[data-formula='d6'],
  &.dice-tray__button[data-formula='d10'],
  &.dice-tray__button[data-formula='d100'] {
    &.dice-tray__button[data-formula='d6']::before {
      content: 'd6';
    }
    &.dice-tray__button[data-formula='d10']::before {
      content: 'd10';
    }
    &.dice-tray__button[data-formula='d100']::before {
      content: 'd100';
    }
    &::before {
      content: ' ';
      font-family: var(--zh-font-title);
      display: block;
      width: 100%;
      height: 30px;
      transition: all 500ms ease-in-out;
      color: var(--zh-clr-fg2);
    }
    &:hover {
      &::before {
        color: var(--zh-clr-yellow);
      }
    }
  }
  &:hover {
    &::before {
      color: var(--zh-clr-yellow);
    }
    background-color: var(--zh-clr-bg2);
    color: var(--zh-clr-yellow);
  }
  svg {
    display: none;
  }
  box-shadow: none;
}
