.dice-so-nice
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: var(--zh-clr-bg1);
  border-color: var(--zh-clr-bg4);
}
.dice-so-nice .select2-container--default .select2-results__option {
  background-color: var(--zh-clr-bg1);
}
.dice-so-nice .select2-container--default .select2-results__option--selected {
  background-color: var(--zh-clr-aqua);
  color: var(--zh-clr-bg0) !important;
}
.dice-so-nice
  .select2-container--default
  .select2-results__option--highlighted {
  background-color: var(--zh-clr-yellow) !important;
  color: var(--zh-clr-bg0) !important;
}
