body.game.vtt.system-zweihander .zweihander.sheet.item {
  --item-sheet-icon-size: 64px;
  max-height: 1190px;
  max-width: 1190px;

  // sheet dimensions
  min-height: 550px;
  min-width: 400px;

  .sheet-header {
    border-bottom: 2px groove var(--zh-clr-bg2);
    flex: 0 0 var(--item-sheet-icon-size);

    .profile {
      border-right: 2px groove var(--zh-clr-bg2);
      display: flex;
      flex: 0 0 var(--item-sheet-icon-size);
      height: var(--item-sheet-icon-size);
      max-width: var(--item-sheet-icon-size);
      position: relative;
      .profile-image {
        border: none;
        border-radius: 0;
        box-sizing: content-box;
        display: block;
        flex: 1;
        height: auto;
        height: 100%;
        left: 0px;
        // margin: auto;
        margin: 0;
        max-height: 100%;
        max-width: 100%;
        // object-fit: contain;
        position: absolute;
        top: 0px;
        width: 100%;
        &.item-image-icon {
          background-color: var(--zh-clr-aqua);
          mask-mode: luminance;
          // -webkit-mask-position-y: 5px;
          mask-repeat: no-repeat;
          mask-size: cover;
        }
        &.item-image-picture {
          // background-position-y: 5px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    .header-details {
      align-items: center;
      font-size: 20px;
      font-weight: 400;
      height: var(--item-sheet-icon-size);
    }

    h1.itemname {
      flex: 1;
      height: 40px;
      margin: 0;
      padding: 0;
      input {
        display: block;
        font-family: var(--zh-font-title);
        font-size: 28px;
        // text-transform: uppercase;
        height: 40px;
        line-height: 48px;
        margin: 5px;
        padding: 0;
        text-shadow: 2px 2px 2px var(--zh-clr-fg4);
        width: calc(100% - 14px);
      }
    }

    .item-subtitle {
      align-self: flex-start !important;
      color: var(--zh-clr-aqua);
      flex: 0 0 auto;
      font-family: var(--zh-font-title);
      font-size: 14px;
      padding: 5px;
      text-transform: uppercase;
    }
  }

  nav {
    border-bottom: 2px groove var(--zh-clr-bg2);
    flex: 0 0 45px;
  }

  .sheet-body {
    overflow-y: auto;
    padding: 10px;
    .tab-description,
    .tab-notes {
      height: 100%;
    }
    .tab-description {
      // height: 100%;
      .editor-content {
        color: var(--zh-clr-fg2);
        font-size: 14px;
        font-style: italic;
        text-align: justify;
      }
    }

    .editor-content {
      padding: 0 10px;
    }

    .form-group {
      border-bottom: 1px solid var(--zh-clr-bg2);
      margin-left: -10px;
      margin-right: -10px;
      padding: 5px 15px 1em 15px;
      .currency-bp {
        flex: 0;
      }
      .currency-ss {
        flex: 0;
      }
      .currency-gc {
        flex: 0;
      }

      & > label {
        color: var(--zh-clr-fg2);
      }
      .zh-editor-preview {
        display: none;
        &.open {
          display: block;
        }
      }
      .editor {
        display: none;
        height: 350px;
        &.open {
          display: block;
        }
      }
      .array-input {
        input {
          border-radius: 1ch 0 0 1ch;
        }
        div.array-input-pills {
          flex: 0 0 100%;
          //height: 16px;
          padding: 0 3px;
          span {
            background-color: var(--zh-clr-aqua);
            border: 1px solid transparent;
            border-radius: 1ch;
            color: var(--zh-clr-bg0);
            font-size: 10px;
            padding: 1px 2px;
            cursor: pointer;
            &:hover {
              background-color: var(--zh-clr-red);
            }
          }
        }
        button.array-input-plus {
          background-color: var(--zh-clr-aqua-alt);
          border: 1px solid var(--zh-clr-aqua);
          border-radius: 0 1ch 1ch 0;
          color: var(--zh-clr-bg0);
          cursor: pointer;
          display: block;
          flex: 0 0 auto;
          height: 20px;
          line-height: 20px;
          margin: 0px;
          padding: 0px;
          text-align: center;
          width: 20px;
          &:hover,
          &:focus {
            background-color: var(--zh-clr-yellow-alt);
            border-color: var(--zh-clr-yellow);
            box-shadow: none;
          }
          i.fas {
            margin: 0;
          }
        }
      }
    }
    .form-group:nth-child(even) {
      background-color: var(--zh-clr-bg1);
    }
  }
}
