<header class="requirements-change requirements-header flexrow">
  <div class="key">{{localize "ZWEI.settings.lasettings.name"}}</div>
  <div class="value">{{localize "ZWEI.settings.lasettings.readwrite"}}</div>
  <div class="requirements-controls">
    <a class="requirements-control" data-action="addLanguage" data-tooltip="{{localize 'ZWEI.settings.lasettings.add'}}" data-tooltip-direction="UP"><i
        class="far fa-plus-square"
      ></i></a>
  </div>
</header>