<div class='magick-skill-selector flexrow'>
  <label>{{localize 'ZWEI.settings.othersettings.underlyingmagickskill'}}:</label>
  <select name='system.stats.secondaryAttributes.magick.associatedSkill'>
    {{#select system.stats.secondaryAttributes.magick.associatedSkill}}
      {{#each actorConfig.magickSkills as |skill idx|}}
        <option value='{{skill}}'>{{skill}}</option>
      {{/each}}
    {{/select}}
  </select>
</div>