<form class="editable flexcol" autocomplete="off">
  {{> ($$ "character/header") }}
  {{#unless limited}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="main">Attributes</a>
    <a class="item" data-tab="tiers">Tiers</a>
    <a class="item" data-tab="trappings">Trappings</a>
    {{#if actorConfig.isMagickUser}}
    <a class="item" data-tab="magick">Magick</a>
    {{/if}}
    <a class="item" data-tab="afflictions">Afflictions</a>
    <a class="item" data-tab="details">Background</a>
  </nav>
  <section class="sheet-body">
    {{> ($$ "character/tab-main") }}
    {{#each tabs}}
    <div class="tab {{@key}} flexcol" data-group="primary" data-tab="{{@key}}">
      {{#if headerTemplate}}{{> ($$ headerTemplate) ../.}}{{/if}}
      {{> ($$ "partials/items-list") itemGroups}}
      {{#if footerTemplate}}{{> ($$ footerTemplate) ../.}}{{/if}}
    </div>
    {{/each}}
    <div class="tab background flexcol" data-group="primary" data-tab="details">
      <div>
        <h4 class="block-title">Biography</h4>
        {{editor content=(zhLocalize system.description) target=(zhLocalizePath "system.description") button=true owner=owner
        editable=editable rollData=rollData}}
      </div>
      <div>
        <h4 class="block-title">Character Notes</h4>
        {{editor content=system.notes target="system.notes" button=true owner=owner editable=editable
        rollData=rollData}}
      </div>
    </div>
  </section>
  {{/unless}}
</form>