{{{arrayInputGroup 'Positive Bonus Modifiers' 'data.ancestralModifiers.positive' data.ancestralModifiers.positive 3}}}
{{{arrayInputGroup 'Negative Bonus Modifiers' 'data.ancestralModifiers.negative' data.ancestralModifiers.negative 3}}}
<div class="form-group">
  <label>Ancestral Trait</label>
  <input name="data.ancestralTrait.name" type="text" value="{{data.ancestralTrait.name}}">
</div>
{{!-- {{data.ancestralTrait.linkedId}} --}}
{{!-- TODO: implement "roll ancestral trait" button --}}
