<form class="{{cssClass}}" autocomplete="off">
    <div class="item-background">
        <div class="item-profession-content">
            <header class="profession-header">
                <div class="image-and-title-container">
                    <div class="header-image">
                        <img class="profession-illustration" src="{{img}}" data-edit="img" title="{{name}}"/>
                    </div>

                    <div class="header-contents">
                        <div class="title">
                            <span>Profession: {{name}}</span>
                        </div>
                    </div>
                </div>
                
            </header>
    
    
            {{!-- Sheet Body --}}
            <section class="item-body">
    
                {{!-- Description Tab --}}
                <div class="tab">
                    <span><i>{{data.flavor.description}}</i></span>
                    <br />
                    Name: <input type="text" name="name" value="{{name}}" />
                    Category: <input type="text" name="data.category.value" value="{{data.category.value}}" />
                    Effect: <input type="text" name="data.effect.value" value="{{data.effect.value}}" />
                    Currently In Effect: <input type="checkbox" name="data.active" {{checked data.active}} />
                </div>
            </section>
        </div>
    </div>
</form>
