<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>


    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab">
            <span>{{data.flavor.description}}</span>
            <br />
            <br />
            Casting Time: <input type="text" name="data.castingTime.value" value="{{data.castingTime.value}}" />
            Reagents: <input type="text" name="data.reagents.value" value="{{data.reagents.value}}" />
            Condition: <input type="text" name="data.condition.value" value="{{data.condition.value}}" />
            Channel Power As: <input type="text" name="data.channelAs.value" value="{{data.channelAs.value}}" />
            Difficulty: <input type="text" name="data.difficulty.value" value="{{data.difficulty.value}}" />
            Consequences: <input type="text" name="data.consequences.value" value="{{data.consequences.value}}" />
            Ritual Effects: <textarea name="data.effect.value">{{data.effect.value}}</textarea>
        </div>
    </section>
</form>
