<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>


    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab">
            Encumbrance: <input type="number" name="data.encumbrance.value" value="{{data.encumbrance.value}}" />
            Distance: <input type="text" name="data.distance.value" value="{{data.distance.value}}"  />
            Load: <input type="number" name="data.load.value" value="{{data.load.value}}"  />
            Skill: <input type="text" name="data.associatedSkill.value" value="{{data.associatedSkill.value}}"  />
            Damage Formula: <input type="text" name="data.damage.formula" value="{{data.damage.formula}}" />
            <div>
                Damage Bonus Attribute:
                <select name="data.damage.associatedPrimaryAttribute">
                    {{#select data.damage.associatedPrimaryAttribute}}
                        {{#each primaryAttributes as | attribute idx | }}
                            <option value="{{attribute}}">{{attribute}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            Type: <input type="text" name="data.type.value" value="{{data.type.value}}"  />
            Equipped: <input type="checkbox" name="data.equipped" {{checked data.equipped}} />
            Qualities: <input type="text" name="data.qualities.value" value="{{data.qualities.value}}" />
        </div>
    </section>
</form>
