<form class="{{cssClass}}" autocomplete="off">
    <div class="item-background">
        <div class="item-profession-content">
            <header class="profession-header">
                <div class="image-and-title-container">
                    <div class="header-image">
                        <img class="profession-illustration" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                    </div>

                    <div class="header-contents">
                        <div class="title">
                            <span>Profession: {{item.name}}</span>
                        </div>
                    </div>
                </div>
                
            </header>
    
    
            {{!-- Sheet Body --}}
            <section class="item-body">
    
                {{!-- Description Tab --}}
                <div class="tab">
                    Name: <input type="text" name="name" value="{{item.name}}" data-dtype="String"/>
                    Modifiers (Positive): <input type="text" name="data.ancestralModifiers.positive.value" value="{{data.ancestralModifiers.positive.value}}" data-dtype="String"/>
                    Modifiers (Negative): <input type="text" name="data.ancestralModifiers.negative.value" value="{{data.ancestralModifiers.negative.value}}" data-dtype="String"/>
                    Trait: <input type="text" name="data.ancestralTrait.value" value="{{data.ancestralTrait.value}}" data-dtype="String"/>
                </div>
            </section>
        </div>
    </div>
</form>
