<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </header>


    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab">
            Advance Name: <input type="text" name="name" value="{{data.name}}" />
            Advance Type: <input type="text" name="data.type.value" value="{{data.data.type.value}}" />
            Reward Point Cost: <input type="number" name="data.rewardPointCost.value" value="{{data.data.rewardPointCost.value}}" />
            Associated Focus Skill: <input type="text" name="data.associatedFocusSkill.value" value="{{data.data.associatedFocusSkill.value}}" />
            Notes: <input type="text" name="data.flavor.description" value="{{data.data.flavor.description}}" />
        </div>
    </section>
</form>
