<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resource">
            	<label>Quantity</label>
                <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
            </div>
            <div class="resource">
            	<label>Weight</label>
                <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
            </div>
        </div>
    </header>


    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab">
            Distance: <input type="text" name="data.distance.value" value="{{data.distance.value}}" data-dtype="String"/>
            Tradition: <input type="text" name="data.tradition.value" value="{{data.tradition.value}}" data-dtype="String"/>
            Principle: <input type="text" name="data.principle.value" value="{{data.principle.value}}" data-dtype="String"/>
            Reagents: <input type="text" name="data.reagents.value" value="{{data.reagents.value}}" data-dtype="String"/>
            Duration: <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="String"/>
        </div>
    </section>
</form>
