<div class="form-group stacked">
  <label>Associated Primary Attribute (for Base Chance)</label>
  <select name="data.associatedPrimaryAttribute.value">
  {{#each choices.associatedPrimaryAttribute}}
  <option value="{{value}}" {{selected}}>{{label}}</option>
  {{/each}}
</select>
</div>



<div class="form-group stacked">
  <label>Status</label>
  <label class="checkbox">
    <input name="data.requiresTraining" type="checkbox" class="link-checkbox" {{checked data.requiresTraining}} />
    Requires Training?
  </label>
</div>
