<div class="form-group">
  <label>Type</label>
  <input  name="data.type.value" type="text" value="{{data.type.value}}">
</div>

<div class="form-group">
  <label>Reward Point Cost</label>
  <input  name="data.rewardPointCost.value" type="number" value="{{data.rewardPointCost.value}}">
</div>

<div class="form-group">
  <label>Associated Focus Skill</label>
  <input  name="data.associatedFocusSkill.value" type="text" value="{{data.associatedFocusSkill.value}}">
</div>
