<section class="item-card">
  <h2 class="item-card-title">{{capitalize type}}: {{name}}</h2>
  {{#if data.flavor.description}}
  <div class="item-card-description">
    {{{processRuleText data.flavor.description}}}
  </div>
  <br/>
  {{/if}}
  <div class="item-card-effect" data-effect-label="Effect">
    {{{processRuleText data.effect.value}}}
  </div>
</section>