<section class="item-card">
  <h2 class="item-card-title">{{zhCapitalize type}}: {{name}}</h2>
  {{#if data.flavor.description}}
  <div class="item-card-description">
    {{{zhProcessRuleText data.flavor.description}}}
  </div>
  <br/>
  {{/if}}
  <div class="item-card-effect" data-effect-label="Effect">
    {{{zhProcessRuleText (zhLocalize data.rules.effect)}}}
  </div>
</section>