.sheet-header {
  border-bottom: 2px groove var(--zx-clr-bg2);
  flex: 0 0 100px;

  .profile {
    border-right: 2px groove var(--zx-clr-bg2);
    display: flex;
    flex: 0 0 247px;
    height: 247px;
    max-width: 247px;
    .profile-image {
      border: none;
      border-radius: 0;
      box-sizing: content-box;
      object-fit: contain;
      display: block;
      flex: 1;
      height: auto;
      // margin: auto;
      margin: 0;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .header-details {
    font-size: 20px;
    font-weight: 700;
  }

  h1.charname {
    flex: 1;
    height: 60px;
    margin: 0;
    padding: 0;
    input {
      display: block;
      font-family: var(--zx-font-title);
      font-size: 28px;
      // text-transform: uppercase;
      height: 40px;
      line-height: 48px;
      margin: 10px 5px;
      text-shadow: 2px 2px 2px var(--zx-clr-fg4);
      width: 96%;
    }
  }

  .header-rp {
    align-items: flex-end;
    flex: 0 0 140px;
    height: 60px;
    justify-content: start;
    margin-right: 5px;
    text-align: right;

    .rp-title {
      color: var(--zx-clr-aqua);
      display: block;
      font-family: var(--zx-font-title);
      font-size: 13px;
      text-transform: uppercase;
    }
    .rp-title,
    .rp-content,
    .rp-other-pts {
      height: 20px;
    }
    .rp-content,
    .rp-other-pts {
      align-items: center;
      font-size: 16px;
      justify-content: flex-end;
      .rp-gained,
      .rp-spent {
        flex: 0 0 55px;
      }
      .rp-fate,
      .rp-rep {
        flex: 0 0 3.5ch;
      }
      .rp-fate {
        margin-right: 1ex;
      }
      .sep {
        color: #7a7971;
        display: inline;
        flex: none;
        font-family: var(--zx-font-title);
        font-size: 13px !important;
        font-weight: normal;
        margin: 0 1px;
        position: relative;
        text-transform: uppercase;
      }
    }
    .rp-other-pts .sep {
      color: var(--zx-clr-aqua);
    }
  }
  .summary {
    border-bottom: 2px groove var(--zx-clr-bg2);
    border-top: none;
    flex: 0 0 100%;
    font-size: 14px;
    font-weight: normal;
    height: 28px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-right: 2px groove var(--zx-clr-bg2);
      color: var(--zx-clr-fg0);
      float: left;
      height: calc(100% - 6px);
      line-height: 24px;
      margin: 4px 0 0 0;
      padding: 0;

      &:last-of-type {
        border-right: none;
      }
    }

    .ancestry {
      flex: 1 0 9ex;
      .ancestry-wrapper {
        height: 16px;
        position: relative;

        .ancestry-edit {
          bottom: 12px;
          color: var(--zx-clr-aqua);
          display: none;
          font-size: 10px;
          height: 16px;
          padding: 2px;
          position: absolute;
          right: 0.1ex;

          &:hover {
            display: block;
          }
        }

        &:hover .ancestry-edit {
          display: block;
        }
      }
    }

    input,
    label {
      display: block;
      height: 20px;
      line-height: 20px;
    }
    label {
      color: var(--zx-clr-fg3);
    }
    li input {
      text-align: center;
    }
    .summary-multi {
      flex: 1 0 4.75em;
      justify-content: space-between;
      input {
        flex: 1 0 2.25em;
        text-align: right;
      }
      label {
        flex: 1 0;
        flex-basis: auto;
        margin-left: 0.75ex;
        text-align: right;
      }
      input + label {
        margin-left: 0;
        margin-right: 0.75ex;
        text-align: left;
      }
      label + input {
        text-align: left;
      }
    }
    .summary-profession {
      flex: 1 0 14ex;
    }
    .summary-sex {
      flex: 1 0 4em;
    }
    .summary-social {
      flex: 1 0 4.95em;
    }
    .summary-height {
      flex: 1 0 3.85em;
      input {
        flex: 1 0 2.5em;
      }
    }
    .summary-weight {
      flex: 1 0 4.25em;
    }
    .summary-buildtype {
      flex: 1 0 10.5ex;
    }
    .summary-hair {
      flex: 1 0 18.75ex;
      input {
        flex: 1 0 14ex;
      }
    }
    .summary-eye {
      flex: 1 0 19.25ex;
      input {
        flex: 1 0 14ex;
      }
    }
    .summary-complexion {
      flex: 1 0 16ex;
      input {
        flex: 1 0 11.5ex;
      }
    }
    .summary-season {
      flex: 1 0 15.5ex;
      input {
        flex: 1 0 8ex;
      }
    }
    .summary-upbringing {
      flex: 1 0 24ex;
      input {
        flex: 1 0 13ex;
      }
    }
    .summary-languages {
      flex: 1 0 30ex;
      input {
        flex: 1 0 23ex;
      }
    }
    &.summary-dooming {
      background-color: var(--zx-clr-aqua);
      height: 100%;
      width: 100%;

      input {
        color: var(--zx-clr-bg0);
        font-family: var(--zx-font-title);
        font-size: 13px;
        text-shadow: var(--zx-text-shadow);
        text-transform: uppercase;
      }
      input::placeholder {
        color: var(--zx-clr-bg2);
      }
    }
    &:first-of-type {
      border-top: 2px groove var(--zx-clr-bg2);
      height: 30px;
    }
    &:last-of-type {
      border-bottom: none;
      height: 28px;
    }

    &.alignment {
      height: 40px;
      position: relative;
      li {
        border: none;
        &.chaos-title,
        &.order-title,
        &.corruption-title,
        &.corruption-reset {
          flex: none;
          height: 14px;
          margin: 0;
          padding: 0;
          position: absolute;
          top: -2px;
          width: calc(50% - 12ex);
          input,
          span,
          label {
            font-family: var(--zx-font-title);
            font-size: 10px;
            text-transform: uppercase;
          }
        }
        &.order-title {
          left: 2px;
          input {
            text-align: left;
          }
        }
        &.corruption-title {
          color: var(--zx-clr-fg3);
          left: calc(50% - 7ex);
          text-align: center;
          width: 14ex;
        }
        &.corruption-reset {
          color: var(--zx-clr-aqua);
          font-size: 12px;
          left: calc(50% + 7ex);
          top: -4px;
        }
        &.chaos-title {
          right: 2px;
          input {
            text-align: right;
          }
        }
        &.corruption {
          flex: 0 0 6ex;
          input {
            color: var(--zx-clr-aqua);
            font-size: 18px;
            margin-top: 12px;
            text-align: center;
          }
        }
        &.order-track,
        &.chaos-track {
          justify-content: space-around;
          justify-items: center;
          margin: 0;
          padding: 0;
          input[type="radio"] {
            appearance: none;
            display: none;
            flex: 0;
            & + label {
              display: inline-block;
              position: relative;
              text-align: center;
              z-index: 2;
              &.regular-rank {
                cursor: pointer;
                font-size: 12px;
                margin-top: 16px;
                &:hover {
                  color: var(--zx-clr-yellow);
                  &::before {
                    border-color: var(--zx-clr-yellow);
                  }
                }
              }
              &.permanent-rank {
                margin-top: 17px;
                cursor: default;
                color: var(--zx-clr-red-alt);
                font-size: 14px;
                &:hover {
                  color: none;
                  &::before {
                    border-color: none;
                  }
                }
              }
              &::before {
                border: 1px solid transparent;
                border-radius: 50%;
                content: "";
                display: block;
                height: 15px;
                left: calc(50% - 9px);
                position: absolute;
                z-index: -1;
                top: calc(50% - 9fpx);
                width: 15px;
              }
            }
            &:checked + label {
              color: var(--zx-clr-bg0);
              &::before {
                border: 1px solid var(--zx-clr-fg2);
                background: var(--zx-clr-fg0);
              }
            }
          }
        }
        &.order-track {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
