.tab.main {
  overflow: hidden;
  .primary-attributes {
    flex: 0 0 50px;
    height: calc(100% - 4px);
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    border: 2px groove var(--zx-clr-bg2);
    border-radius: 3px;
    .pa {
      padding-top: 5px;
      flex: 1 0 72px;
      text-align: center;
      border-bottom: 2px groove var(--zx-clr-bg2);
      position: relative;
      input {
        height: 30px;
        width: 36px;
        margin: 0 auto;
        line-height: 32px;
        font-size: 28px;
        text-align: center;
      }
      &:last-of-type {
        border: none;
      }
      h4.block-title, pa-icon {
        transition: color 175ms ease-in;
      }
      &.pa-hover-helper {
        h4.block-title, .pa-icon {
          color: var(--zx-clr-yellow);
          transition: color 350ms ease-out;
        }
      }
    }
    .pa-display {
      margin: 0 20px;
      align-items: center;
      .pa-icon {
        flex: 0 0 10px;
        padding-top: 4px;
        font-size: 16px;
        color: var(--zx-clr-fg4);
      }
      .pa-bonus {
        font-size: 18px;
      }
    }
  }
  .skills-container {
    flex: 1 0 212px;
    .skills-list {
      overflow-y: scroll;
      list-style: none;
      margin: 0 5px 0;
      padding: 0px 0 0px;
      border: 2px groove var(--zx-clr-bg2);
      border-radius: 3px;
      flex: 1 0 480px;
      .skill {
        padding: 3px;
        height: 24px;
        &:nth-child(even) {
          background: var(--zx-clr-bg1);
        }
        .skill-roll {
          flex: 1 0 17ex;
        }
        .skill-rank {
          flex: 0 0 6ex;
          text-align: center;
        }
        &:hover .skill-gain,
        &:hover .skill-roll,
        &:hover .skill-rank {
          color: var(--zx-clr-yellow);
        }
        .skill-gain {
          flex: 0 0 4ex;
          margin-right: 1ex;
          text-align: right;
          color: var(--zx-clr-fg3);
        }
        .controls {
          flex: 0 0 2ex;
          margin-top: -1px;
          visibility: hidden;
          color: var(--zx-clr-fg4);
          &:hover {
            color: var(--zx-clr-fg1);
          }
        }
        &:hover .controls {
          visibility: visible;
        }
      }
    }
  }
  .combat-container {
    flex: 0 0 380px;
    border: 2px groove var(--zx-clr-bg2);
    border-radius: 3px;
    .combat-stats {
      padding-top: 5px;
      flex: 0 0 70px;
      border-bottom: 2px groove var(--zx-clr-bg2);
    }
    .combat-reactions {
      padding-top: 5px;
      flex: 0 0 94px;
      border-bottom: 2px groove var(--zx-clr-bg2);
    }
    @keyframes spin2 {
      0% {
        transform: translate(-7px, -115px) scale(1.4) rotate(-14deg);
        filter: blur(0.2px);
        color: var(--zx-clr-aqua-alt);
      }
      15% {
        color: var(--zx-clr-aqua);
      }
      35% {
        color: var(--zx-clr-bg0);
      }
      40% {
        transform: translate(-7px, -115px) scale(2) rotate(0deg);
        filter: blur(0.1px);
      }

      50% {
        transform: translate(-7px, -115px) scale(4) rotate(0deg);
        filter: blur(0px);
        color: var(--zx-clr-bg0);
      }

      60% {
        transform: translate(-7px, -115px) scale(2) rotate(0deg);
        filter: blur(2px);
        
      }
      72% {
        transform: translate(-7px, -115px) scale(2) rotate(-3deg);
      }
      79% {
        transform: translate(-7px, -115px) scale(1.8) rotate(-7deg);
      }
      80% {
        color: var(--zx-clr-aqua);
        transform: translate(-7px, -115px) scale(1.4) rotate(-11deg);
      }
      83% {
        transform: translate(-7px, -115px) scale(1.7) rotate(-13deg);
      }
      100% {
        transform: translate(-7px, -115px) scale(1.4) rotate(-14deg);
        filter: blur(0.2px);
        color: var(--zx-clr-aqua-alt);
      }
    }
    @keyframes color1 {
      10% {
        color: var(--zx-clr-aqua-alt);
      }
      15% {
        color: var(--zx-clr-bg2);
      }
      35% {
        color: var(--zx-clr-fg0);

      }
      50% {
        color: var(--zx-clr-red);

      }
      60% {
        color: var(--zx-clr-red);

      }
      76% {
        color: var(--zx-clr-aqua);

      }
      100% {
        color: var(--zx-clr-aqua-alt);

      }
    }
    @keyframes color2 {
      0% {
        background: var(--zx-clr-aqua);
      }
      15% {
        background: var(--zx-clr-aqua);
      }
      35% {
        background: var(--zx-clr-bg0);
      }
      50% {
        background: var(--zx-clr-bg0);
      }
      75% {
        background: var(--zx-clr-aqua);
      }
      100% {
        background: var(--zx-clr-aqua);
      }
    }
    @keyframes opacity1 {
      0% {
        opacity:1;
      }
      15% {
        opacity:1;
      }
      24% {
        opacity: 0;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity:1;
      }
    }
    @keyframes pulsetext {
      0% {
        color:var(--zx-clr-aqua-alt);
        transform: scale(1.25);
      }
      50% {
        color:var(--zx-clr-bg0);
        transform: scale(1.3);
      }
      100% {
        color:var(--zx-clr-aqua-alt);
        transform: scale(1.25);
      }
    }
    .combat-spacer {
      background: var(--zx-clr-aqua);
      overflow: hidden;
      color: var(--zx-clr-aqua-alt);
      font-family: var(--zx-font-title);
      font-size: 8px;
      text-transform: uppercase;
      flex: 1 0 50px;
      border-bottom: 2px groove var(--zx-clr-bg2);
      position: relative;
      &:hover {
        animation: color2 5s ease-in-out infinite;
        .combat-spacer-text {
          animation: spin2 5s ease-in-out infinite;
          .fancy-zweihander {
            animation: color1 5s ease-in-out infinite;
          }
        }
        .combat-spacer-gradient {
          animation: opacity1 5s ease-in-out infinite;
        }
      }
      .combat-spacer-gradient {
        width: 376px;
        height:100%;
        position: absolute;
        background: radial-gradient(ellipse 120% 65% at center, transparent, transparent 40%, var(--zx-clr-aqua) 66%);
      }
      .combat-spacer-text {
        filter: blur(0.2px);
        width: 200px;
        position: relative;
        text-align: justify;
        flex: 1 0 60px;
        top: 50%;
        transform-origin: 210px 118px;
        transform: translate(-7px, -115px) scale(1.4) rotate(-14deg);
        .fancy-zweihander {
          animation: pulsetext 8s linear infinite both;
          display: inline-block;
          color: var(--zx-clr-aqua-alt);
          transform: scale(1.25);
          margin: 1ex 3ex;
        }
      }
    }
    .condition-thresholds {
      padding-top: 5px;
      flex: 0 0 120px;
      border-bottom: 2px groove var(--zx-clr-bg2);

      .peril,
      .damage {
        margin: 0 5px;
      }
      .values-derived-bracket {
        flex: 0 0 35px;
        font-size: 75px;
        line-height: 65px;
        height: 72px;
        position: relative;
        top: -8px;
        font-family: var(--zx-font-title);
        color: var(--zx-clr-bg1);
      }
      .values-derived {
        height: 72px;
      }
      .threshold-value {
        height: 60px;
        position: relative;
        top: 14px;
        left: 12px;
      }
      .inline-formula {
        display: inline-block;
        color: var(--zx-clr-fg3);
        text-align: right;
        width: 3.25ex;
        margin-right: 0.5ex;
      }
    }
    .condition-tracker {
      padding-top: 5px;
      flex: 0 0 190px;
      h4.block-title {
        margin-bottom: 1.5ex;
      }
      .condition-tracker-list {
        flex-flow: column-reverse;
        &.damage-list {
          .radio-and-status {
            text-align: left;
            margin-right: 0;
            margin-left: 55px;
          }
          input[type="radio"] + label::before {
            left: -23px;
          }
        }
      }
      .radio-and-status {
        text-align: right;
        margin-right: 55px;
        flex: 1 0 18px;
      }
      input[type="radio"] {
        appearance: none;
        display: none;
        & + label {
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          position: relative;
          text-align: center;
          z-index: 1000;
          &:hover {
            color: var(--zx-clr-yellow);
            &::before {
              content: "x";
              color: var(--zx-clr-yellow);
              border-color: var(--zx-clr-yellow);
            }
          }
          &::before {
            line-height: 12px;
            border: 1px solid var(--zx-clr-bg3);
            border-radius: 50%;
            content: " ";
            display: block;
            height: 12px;
            right: -23px;
            position: absolute;
            z-index: -1;
            top: 0px;
            width: 12px;
          }
        }
        &:checked + label {
          color: var(--zx-clr-aqua);
          &::before {
            content: "x";
            color: var(--zx-clr-bg0);
            border: 1px solid var(--zx-clr-aqua-alt);
            background: var(--zx-clr-aqua);
          }
        }
      }
    }
    .values {
      .value,
      .formula {
        display: block;
        text-align: center;
        margin-top: 5px;
        font-size: 28px;
        line-height: 24px;
        &.color-overage:not([data-overage="0"]) {
          color: var(--zx-clr-red);
        }
      }
      .formula {
        line-height: 18px;
        margin-top: 0px;
        font-size: 12px;
        color: var(--zx-clr-fg3);
      }
    }
    .dodge,
    .parry {
      margin: 0 5ex;
      .combat-icon {
        color: var(--zx-clr-aqua);
        &:hover {
          text-shadow: none;
          color: var(--zx-clr-yellow);
        }
      }
    }
    .skill-dropdown {
      margin: 5px 0 5px 0;
    }
    h4.block-title {
      flex: 0 1 1.8em;
    }
  }
}