body.game.vtt.system-zweihander {
  .app#sidebar {
    background: var(--zh-clr-bg0);
    #sidebar-tabs {
      box-shadow: none;
      border: none;
      a {
        border-color: transparent;
        color: var(--zh-clr-fg0);
        &.active,
        &.active:hover {
          border-color: transparent;
          color: var(--zh-clr-aqua);
        }
        &:hover {
          color: var(--zh-clr-yellow);
        }
        &.item:active,
        &.item:hover,
        &.item:focus,
        &.item.active {
          box-shadow: none;
          text-shadow: none;
        }
      }
    }
  }
  .chat-message.zweihander-chat-message {
    .flavor-text {
      line-height: 1.2;
    }

    button {
      &:disabled {
        display: none;
      }
    }

    background: var(--zh-clr-bg1);
    border-color: var(--zh-clr-bg2);
    color: var(--zh-clr-fg0);
    header.message-header {
      color: var(--zh-clr-fg2);
      position: relative;
      .message-metadata {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
      }
      .message-timestamp {
        position: absolute;
        right: 0;
        top: 0;
        font-size: var(--font-size-12);
      }
      a.button.message-delete {
        &:hover {
          color: var(--zh-clr-red);
        }
        position: absolute;
        right: 0;
        top: 18px;
        font-size: var(--font-size-12);
      }
      img.chat-profile-image {
        flex: 0 0 50px;
        height: 50px;
        width: 50px;
        object-fit: cover;
        object-position: top;
        margin: 0 5px 5px 0;
        border: 2px solid var(--zh-clr-bg2);
        border-radius: 50%;
      }
      h4.message-sender {
        padding-top: 15px;
        font-size: 18px;
        color: var(--zh-clr-fg0);
        line-height: 18px;
      }
    }

    &.whisper {
      background: var(--zh-clr-blue-alt);
      background: var(--zh-clr-bg1);
      border-color: var(--zh-clr-blue);
      header.message-header img.chat-profile-image {
        border-color: var(--zh-clr-blue);
      }
    }
    &.blind {
      background: var(--zh-clr-red-alt);
      background: var(--zh-clr-bg2);
      border-color: var(--zh-clr-red);
      header.message-header img.chat-profile-image {
        border-color: var(--zh-clr-red);
      }
    }

    .dice-roll {
      .dice-formula,
      .dice-total {
        background: var(--zh-clr-bg0);
        border: 2px solid var(--zh-clr-bg2);
        box-shadow: none;
        color: var(--zh-clr-fg0);
      }
      .dice-total {
        &.outcome-0 {
          background-color: var(--zh-clr-red-alt);
        }
        &.outcome-1 {
          background-color: var(--zh-clr-orange-alt);
        }
        &.outcome-2 {
          background-color: var(--zh-clr-aqua-alt);
        }
        &.outcome-3 {
          background-color: var(--zh-clr-green-alt);
        }
      }
      .dice-tooltip {
        .part-header,
        .part-total {
          border-color: var(--zh-clr-fg2);
        }
        .dice-rolls {
          .roll {
            background: var(--zh-clr-fg1);
            color: var(--zh-clr-bg0);
            mask-mode: luminance;
            // -webkit-mask-position-y: 5px;
            mask-repeat: no-repeat;
            mask-size: cover;
            mask-image: url(/icons/svg/d6-grey.svg);
            // background: var(--zh-clr-fg0);
            &.d10 {
              mask-image: url(/icons/svg/d10-grey.svg);
            }
            &.min {
              filter: none;
            }
            &.max {
              filter: none;
            }
            &.exploded {
              &:before {
                color: var(--zh-clr-yellow);
              }
              background: var(--zh-clr-red);
            }
          }
        }
      }
    }
    .skill-test-controls {
      margin-top: 5px;
      background-color: var(--zh-clr-bg2);
      border: none;
      border-radius: 5px;
      button {
        &:disabled {
          display: none;
        }
        line-height: 16px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        border: 2px solid transparent;
        &:hover,
        &:active,
        &:focus {
          background-color: var(--zh-clr-bg3);
          border-color: var(--zh-clr-bg4);
          box-shadow: none;
          i {
            color: var(--zh-clr-yellow);
          }
        }
      }
    }
    .skill-test-title {
      border: none;
      text-align: left;
      color: var(--zh-clr-yellow);
    }
    .skill-test-detail {
      color: var(--zh-clr-fg2);
    }
    .pill-container {
      text-align: left;
      margin: 5px 0;
      .pill {
        display: inline-block;
        padding: 2px 5px;
        margin: 2px 1px;
        font-size: 10px;
        color: var(--zh-clr-bg0);
        border: 1px solid transparent;
        border-radius: 50rem;
        background-color: var(--zh-clr-fg3);
        &.pill-title {
          background-color: transparent;
          color: var(--zh-clr-aqua);
          padding: 2px 0;
          font-size: 12px;
        }
        &.quality-link {
          cursor: pointer;
        }
        &.quality-link:hover {
          background-color: var(--zh-clr-yellow);
        }
        &.pill-flip-fail,
        &.pill-difficulty--30 {
          background-color: var(--zh-clr-red);
        }
        &.pill-misfortune,
        &.pill-difficulty--20 {
          background-color: var(--zh-clr-orange);
        }
        &.pill-difficulty--10 {
          background-color: var(--zh-clr-yellow);
        }
        &.pill-roll-mode {
          background-color: var(--zh-clr-purple);
        }
        &.pill-difficulty-10 {
          background-color: var(--zh-clr-blue);
        }
        &.pill-fortune,
        &.pill-difficulty-20 {
          background-color: var(--zh-clr-aqua);
        }
        &.pill-flip-succeed,
        &.pill-difficulty-30 {
          background-color: var(--zh-clr-green);
        }
      }
    }
    .item-card {
      .item-card-title {
        color: var(--zh-clr-yellow);
        border-bottom: 2px solid var(--zh-clr-bg2);
      }
      .item-card-description {
        font-style: italic;
        font-size: 12px;
        text-align: justify;
        color: var(--zh-clr-fg1);
      }
      .item-card-effect {
        font-size: 13px;
        text-align: justify;
      }
      .item-card-effect::before {
        content: attr(data-effect-label) ': ';
        color: var(--zh-clr-aqua);
        font-weight: bold;
      }
    }
    dl.compact-details {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      width: 100%;
      overflow: visible;
      dt {
        display: block;
        margin: 2px 0;
        flex: 0 0 50%;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
      }
      &.compact-details-centered dt {
        text-align: right;
      }
      dd {
        display: block;
        flex: 0 0 50%;
        margin: 2px 0;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .zh-expandable {
      position: relative;

      &:not(.zh-collapsed) {
        cursor: zoom-out;
      }
      &.zh-collapsed {
        cursor: zoom-in;
      }
      &.zh-collapsed::before {
        content: attr(data-expand-title);
        color: var(--zh-clr-aqua);
        text-align: center;
        display: block;
        width: 100%;
      }
      &.zh-collapsed:hover::before {
        color: var(--zh-clr-yellow);
      }
      &.zh-collapsed * {
        display: none !important;
      }
    }
    dl {
      background-color: var(--zh-clr-bg2);
      padding: 5px;
      border-radius: 5px;
      font-size: 13px;
      dt {
        color: var(--zh-clr-aqua);
      }
      dt::after {
        content: ':';
      }
    }
    hr {
      border: 2px solid var(--zh-clr-bg0);
      border-radius: 2px;
    }
    .additional-outcome-info {
      display: block;
      padding: 2px;
      background-color: var(--zh-clr-bg2);
      border-radius: 5px;
      border: 2px solid var(--zh-clr-bg3);
      margin-top: 5px;
      text-align: center;
      &.chaos-manifestation {
        background-color: var(--zh-clr-red-alt);
        border-color: var(--zh-clr-red);
      }
    }
  }

  #chat-controls {
    border-top: 5px solid var(--zh-clr-bg0);
    color: var(--zh-clr-fg0);
    a:hover {
      text-shadow: none;
      color: var(--zh-clr-aqua);
    }
    .roll-type-select {
      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
      }
      background-color: var(--zh-clr-bg1);
      color: var(--zh-clr-fg0);
      border: none;
    }
  }

  #chat-form textarea {
    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
      border-color: var(--zh-clr-bg2);
    }
    font-family: 'JetBrains Mono', var(--font-mono);
    font-size: 12px;
    background: var(--zh-clr-bg0);
    border-color: var(--zh-clr-bg1);
    border-width: 2px;
    color: var(--zh-clr-fg0);
  }
}
