:root {
  --zh-clr-dark0: #282828;
  --zh-clr-dark1: #3c3836;
  --zh-clr-dark2: #504945;
  --zh-clr-dark3: #665c54;
  --zh-clr-dark4: #7c6f64;

  --zh-clr-gray: #928374;

  --zh-clr-bright0: #fbf1c7;
  --zh-clr-bright1: #ebdbb2;
  --zh-clr-bright2: #d5c4a1;
  --zh-clr-bright3: #bdae93;
  --zh-clr-bright4: #a89984;

  --zh-clr-red-bright: #fb4934;
  --zh-clr-green-bright: #b8bb26;
  --zh-clr-yellow-bright: #fabd2f;
  --zh-clr-blue-bright: #83a598;
  --zh-clr-purple-bright: #d3869b;
  --zh-clr-aqua-bright: #8ec07c;
  --zh-clr-orange-bright: #fe8019;

  --zh-clr-red-neutral: #cc241d;
  --zh-clr-green-neutral: #98971a;
  --zh-clr-yellow-neutral: #d79921;
  --zh-clr-blue-neutral: #458588;
  --zh-clr-purple-neutral: #b16286;
  --zh-clr-aqua-neutral: #689d6a;
  --zh-clr-orange-neutral: #d65d0e;

  --zh-clr-red-faded: #9d0006;
  --zh-clr-green-faded: #79740e;
  --zh-clr-yellow-faded: #b57614;
  --zh-clr-blue-faded: #076678;
  --zh-clr-purple-faded: #8f3f71;
  --zh-clr-aqua-faded: #427b58;
  --zh-clr-orange-faded: #af3a03;

  --zh-font-title: 'Dominican Small Caps' !important;
  --zh-font-default: 'Adobe Caslon Pro' !important;
}

.zweihander-theme-gruvbox-light {
  --zh-clr-fg0: var(--zh-clr-dark0);
  --zh-clr-fg1: var(--zh-clr-dark1);
  --zh-clr-fg2: var(--zh-clr-dark2);
  --zh-clr-fg3: var(--zh-clr-dark3);
  --zh-clr-fg4: var(--zh-clr-dark4);

  --zh-clr-bg0: var(--zh-clr-bright0);
  --zh-clr-bg1: var(--zh-clr-bright1);
  --zh-clr-bg2: var(--zh-clr-bright2);
  --zh-clr-bg3: var(--zh-clr-bright3);
  --zh-clr-bg4: var(--zh-clr-bright4);

  --zh-clr-red: var(--zh-clr-red-faded);
  --zh-clr-green: var(--zh-clr-green-faded);
  --zh-clr-yellow: var(--zh-clr-yellow-faded);
  --zh-clr-blue: var(--zh-clr-blue-faded);
  --zh-clr-purple: var(--zh-clr-purple-faded);
  --zh-clr-aqua: var(--zh-clr-aqua-faded);
  --zh-clr-orange: var(--zh-clr-orange-faded);

  --zh-clr-red-alt: var(--zh-clr-red-neutral);
  --zh-clr-green-alt: var(--zh-clr-green-neutral);
  --zh-clr-yellow-alt: var(--zh-clr-yellow-neutral);
  --zh-clr-blue-alt: var(--zh-clr-blue-neutral);
  --zh-clr-purple-alt: var(--zh-clr-purple-neutral);
  --zh-clr-aqua-alt: var(--zh-clr-aqua-neutral);
  --zh-clr-orange-alt: var(--zh-clr-orange-neutral);

  --zh-clr-bg0-rgb: 251, 241, 199;
  --zh-clr-accent-rgb: 121, 116, 14;
}

.zweihander-theme-gruvbox-dark {
  --zh-clr-fg0: var(--zh-clr-bright0);
  --zh-clr-fg1: var(--zh-clr-bright1);
  --zh-clr-fg2: var(--zh-clr-bright2);
  --zh-clr-fg3: var(--zh-clr-bright3);
  --zh-clr-fg4: var(--zh-clr-bright4);

  --zh-clr-bg0: var(--zh-clr-dark0);
  --zh-clr-bg1: var(--zh-clr-dark1);
  --zh-clr-bg2: var(--zh-clr-dark2);
  --zh-clr-bg3: var(--zh-clr-dark3);
  --zh-clr-bg4: var(--zh-clr-dark4);

  --zh-clr-red: var(--zh-clr-red-bright);
  --zh-clr-green: var(--zh-clr-green-bright);
  --zh-clr-yellow: var(--zh-clr-yellow-bright);
  --zh-clr-blue: var(--zh-clr-blue-bright);
  --zh-clr-purple: var(--zh-clr-purple-bright);
  --zh-clr-aqua: var(--zh-clr-aqua-bright);
  --zh-clr-orange: var(--zh-clr-orange-bright);

  --zh-clr-red-alt: var(--zh-clr-red-neutral);
  --zh-clr-green-alt: var(--zh-clr-green-neutral);
  --zh-clr-yellow-alt: var(--zh-clr-yellow-neutral);
  --zh-clr-blue-alt: var(--zh-clr-blue-neutral);
  --zh-clr-purple-alt: var(--zh-clr-purple-neutral);
  --zh-clr-aqua-alt: var(--zh-clr-aqua-neutral);
  --zh-clr-orange-alt: var(--zh-clr-orange-neutral);

  --zh-clr-bg0-rgb: 40, 40, 40;
  --zh-clr-bg1-rgb: 60, 56, 54;
  --zh-clr-accent-rgb: 184, 187, 38;
}

body.game.vtt.system-zweihander {
  --color-text-light-highlight: var(--zh-clr-fg0);
  --color-text-light-heading: var(--zh-clr-fg0);
  --color-text-light-primary: var(--zh-clr-fg1);
  --color-text-dark-primary: var(--zh-clr-fg0);
  --color-text-dark-secondary: var(--zh-clr-fg2);
  --color-text-dark-header: var(--zh-clr-fg0);
  --color-text-dark-inactive: var(--zh-clr-fg1);
  --color-text-hyperlink: var(--zh-clr-yellow);
  --color-text-light-0: var(--zh-clr-fg0);
  --color-text-light-1: var(--zh-clr-fg0);
  --color-text-light-2: var(--zh-clr-fg1);
  --color-text-light-3: var(--zh-clr-fg1);
  --color-text-light-4: var(--zh-clr-fg2);
  --color-text-light-5: var(--zh-clr-fg2);
  --color-text-light-6: var(--zh-clr-fg3);
  --color-text-light-7: var(--zh-clr-fg3);
  --color-text-dark-1: var(--zh-clr-bg0);
  --color-text-dark-2: var(--zh-clr-bg0);
  --color-text-dark-3: var(--zh-clr-bg1);
  --color-text-dark-4: var(--zh-clr-bg1);
  --color-text-dark-5: var(--zh-clr-bg2);
  --color-text-dark-6: var(--zh-clr-bg3);
  --color-border-light-1: var(--zh-clr-fg4);
  --color-border-light-2: var(--zh-clr-bg4);
  --color-border-dark-1: var(--zh-clr-bg0);
  --color-border-dark-2: var(--zh-clr-bg0);
  --color-border-dark-3: var(--zh-clr-bg1);
  --color-border-dark-4: var(--zh-clr-bg2);
  --color-border-dark-5: var(--zh-clr-bg3);
  --color-shadow-primary: var(--zh-clr-yellow);
  --color-shadow-highlight: var(--zh-clr-aqua);
  --color-shadow-dark: #1d2021;
  --color-underline-inactive: var(--zh-clr-bg4);
  --color-underline-active: var(--zh-clr-yellow);
  --color-underline-header: var(--zh-clr-aqua);
  --color-border-light-highlight: var(--zh-clr-fg0);
  --color-border-light-primary: var(--zh-clr-fg1);
  --color-border-light-secondary: var(--zh-clr-fg2);
  --color-border-light-tertiary: var(--zh-clr-fg4);
  --color-border-dark: var(--zh-clr-bg0);
  --color-border-dark-primary: var(--zh-clr-bg0);
  --color-border-dark-secondary: var(--zh-clr-bg1);
  --color-border-dark-tertiary: var(--zh-clr-bg2);
  --color-border-highlight: var(--zh-clr-aqua);
  --color-border-highlight-alt: var(--zh-clr-aqua-alt);
  --color-bg-btn-minor-inactive: var(--zh-clr-bg1);
  --color-bg-btn-minor-active: var(--zh-clr-aqua-alt);
  --color-bg-option: var(--zh-clr-fg3);
  --z-index-canvas: 0;
  --z-index-app: 30;
  --z-index-ui: 60;
  --z-index-window: 100;
  --sidebar-width: 300px;
  --sidebar-header-height: 32px;
  --sidebar-item-height: 48px;
  --hotbar-height: 52px;
  --hotbar-width: 578px;
  --macro-size: 50px;
  --players-width: 200px;
  --form-field-height: 26px;
  --font-primary: 'Signika', sans-serif;
  --font-mono: monospace;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-30: 1.875rem;

  #ui-left #logo {
    display: none;
    height: unset;
    object-fit: contain;
    margin: 10px 5px 5px;
    filter: brightness(100) contrast(2)
      drop-shadow(2px 2px 1px var(--zh-clr-dark2));
  }

  .dimension-change-listener {
    border: none;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }

  .window-app .window-content {
    background: var(--zh-clr-bg0);
  }
  select,
  button {
    background-color: var(--zh-clr-bg1);
    color: var(--zh-clr-fg0);
  }

  button {
    border: 1px solid var(--zh-clr-bg4);
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: none;
      color: var(--zh-clr-yellow);
      border-color: var(--zh-clr-yellow);
    }
  }

  .directory .directory-header .header-search input {
    background: var(--zh-clr-bg2);
  }

  .sheet-body {
    height: 100%;
  }

  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='date'],
  input[type='time'] {
    background-color: var(--zh-clr-bg1);
  }

  .editor {
    height: 100%;
  }

  div.editor .CodeMirror-vscrollbar {
    overflow-y: auto;
  }

  textarea {
    color: var(--zh-clr-fg0);
  }

  .editor-edit {
    background: var(--zh-clr-aqua-alt);
    color: var(--zh-clr-bg0);
    &:hover {
      text-shadow: none;
      background-color: var(--zh-clr-yellow-alt);
    }
  }

  a:hover,
  #combat #combat-round .encounters a:hover {
    text-shadow: none;
    color: var(--zh-clr-yellow);
  }
  ::selection {
    background-color: var(--zh-clr-aqua);
    color: var(--zh-clr-bg0);
  }

  a.entity-link,
  a.content-link,
  a.inline-roll {
    i {
      color: var(--zh-clr-aqua);
    }
    background: var(--zh-clr-bg3);
    border-color: var(--zh-clr-aqua);
    border-radius: 3px;
    &:not(.broken) {
      &:hover,
      &:focus,
      &:active {
        border-color: var(--zh-clr-yellow-alt);
        i {
          color: var(--zh-clr-yellow);
        }
      }
    }
    &.broken:hover {
      color: inherit !important;
    }
  }
}

/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border: none;
  background-color: var(--zh-clr-bg1);
}

::-webkit-scrollbar-thumb {
  background: var(--zh-clr-aqua-alt);
  border: none;
  outline: none;
  border-radius: 5px;
}

:root > * {
  scrollbar-width: thin;
  scrollbar-color: var(--zh-clr-aqua-alt) var(--zh-clr-bg0);
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/caslon-pro-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/caslon-pro-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Adobe Caslon Pro';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/caslon-pro-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Dominican Small Caps';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/dominican-small-caps.woff2') format('woff2');
}
