:root {
  --zx-clr-dark0: #282828;
  --zx-clr-dark1: #3c3836;
  --zx-clr-dark2: #504945;
  --zx-clr-dark3: #665c54;
  --zx-clr-dark4: #7c6f64;

  --zx-clr-gray: #928374;

  --zx-clr-bright0: #fbf1c7;
  --zx-clr-bright1: #ebdbb2;
  --zx-clr-bright2: #d5c4a1;
  --zx-clr-bright3: #bdae93;
  --zx-clr-bright4: #a89984;

  --zx-clr-red-bright: #fb4934;
  --zx-clr-green-bright: #b8bb26;
  --zx-clr-yellow-bright: #fabd2f;
  --zx-clr-blue-bright: #83a598;
  --zx-clr-purple-bright: #d3869b;
  --zx-clr-aqua-bright: #8ec07c;
  --zx-clr-orange-bright: #fe8019;

  --zx-clr-red-neutral: #cc241d;
  --zx-clr-green-neutral: #98971a;
  --zx-clr-yellow-neutral: #d79921;
  --zx-clr-blue-neutral: #458588;
  --zx-clr-purple-neutral: #b16286;
  --zx-clr-aqua-neutral: #689d6a;
  --zx-clr-orange-neutral: #d65d0e;

  --zx-clr-red-faded: #9d0006;
  --zx-clr-green-faded: #79740e;
  --zx-clr-yellow-faded: #b57614;
  --zx-clr-blue-faded: #076678;
  --zx-clr-purple-faded: #8f3f71;
  --zx-clr-aqua-faded: #427b58;
  --zx-clr-orange-faded: #af3a03;

  --zx-font-title: "Dominican Small Caps" !important;
  --zx-font-default: "Adobe Caslon Pro" !important;
}

.zweihander-theme-gruvbox-light {
  --zx-clr-fg0: var(--zx-clr-dark0);
  --zx-clr-fg1: var(--zx-clr-dark1);
  --zx-clr-fg2: var(--zx-clr-dark2);
  --zx-clr-fg3: var(--zx-clr-dark3);
  --zx-clr-fg4: var(--zx-clr-dark4);

  --zx-clr-bg0: var(--zx-clr-bright0);
  --zx-clr-bg1: var(--zx-clr-bright1);
  --zx-clr-bg2: var(--zx-clr-bright2);
  --zx-clr-bg3: var(--zx-clr-bright3);
  --zx-clr-bg4: var(--zx-clr-bright4);

  --zx-clr-red: var(--zx-clr-red-faded);
  --zx-clr-green: var(--zx-clr-green-faded);
  --zx-clr-yellow: var(--zx-clr-yellow-faded);
  --zx-clr-blue: var(--zx-clr-blue-faded);
  --zx-clr-purple: var(--zx-clr-purple-faded);
  --zx-clr-aqua: var(--zx-clr-aqua-faded);
  --zx-clr-orange: var(--zx-clr-orange-faded);

  --zx-clr-red-alt: var(--zx-clr-red-neutral);
  --zx-clr-green-alt: var(--zx-clr-green-neutral);
  --zx-clr-yellow-alt: var(--zx-clr-yellow-neutral);
  --zx-clr-blue-alt: var(--zx-clr-blue-neutral);
  --zx-clr-purple-alt: var(--zx-clr-purple-neutral);
  --zx-clr-aqua-alt: var(--zx-clr-aqua-neutral);
  --zx-clr-orange-alt: var(--zx-clr-orange-neutral);

  --zx-clr-bg0-rgb: 251, 241, 199;
  --zx-clr-accent-rgb: 121, 116, 14;
}

.zweihander-theme-gruvbox-dark {
  --zx-clr-fg0: var(--zx-clr-bright0);
  --zx-clr-fg1: var(--zx-clr-bright1);
  --zx-clr-fg2: var(--zx-clr-bright2);
  --zx-clr-fg3: var(--zx-clr-bright3);
  --zx-clr-fg4: var(--zx-clr-bright4);

  --zx-clr-bg0: var(--zx-clr-dark0);
  --zx-clr-bg1: var(--zx-clr-dark1);
  --zx-clr-bg2: var(--zx-clr-dark2);
  --zx-clr-bg3: var(--zx-clr-dark3);
  --zx-clr-bg4: var(--zx-clr-dark4);

  --zx-clr-red: var(--zx-clr-red-bright);
  --zx-clr-green: var(--zx-clr-green-bright);
  --zx-clr-yellow: var(--zx-clr-yellow-bright);
  --zx-clr-blue: var(--zx-clr-blue-bright);
  --zx-clr-purple: var(--zx-clr-purple-bright);
  --zx-clr-aqua: var(--zx-clr-aqua-bright);
  --zx-clr-orange: var(--zx-clr-orange-bright);

  --zx-clr-red-alt: var(--zx-clr-red-neutral);
  --zx-clr-green-alt: var(--zx-clr-green-neutral);
  --zx-clr-yellow-alt: var(--zx-clr-yellow-neutral);
  --zx-clr-blue-alt: var(--zx-clr-blue-neutral);
  --zx-clr-purple-alt: var(--zx-clr-purple-neutral);
  --zx-clr-aqua-alt: var(--zx-clr-aqua-neutral);
  --zx-clr-orange-alt: var(--zx-clr-orange-neutral);

  --zx-clr-bg0-rgb: 40, 40, 40;
  --zx-clr-accent-rgb: 184, 187, 38;
}

body.game.vtt.system-zweihander {
  --color-text-light-highlight: var(--zx-clr-fg0);
  --color-text-light-heading: var(--zx-clr-fg0);
  --color-text-light-primary: var(--zx-clr-fg1);
  --color-text-dark-primary: var(--zx-clr-fg0);
  --color-text-dark-secondary: var(--zx-clr-fg2);
  --color-text-dark-header: var(--zx-clr-fg0);
  --color-text-dark-inactive: var(--zx-clr-fg1);
  --color-text-hyperlink: var(--zx-clr-yellow);
  --color-text-light-0: var(--zx-clr-fg0);
  --color-text-light-1: var(--zx-clr-fg0);
  --color-text-light-2: var(--zx-clr-fg1);
  --color-text-light-3: var(--zx-clr-fg1);
  --color-text-light-4: var(--zx-clr-fg2);
  --color-text-light-5: var(--zx-clr-fg2);
  --color-text-light-6: var(--zx-clr-fg3);
  --color-text-light-7: var(--zx-clr-fg3);
  --color-text-dark-1: var(--zx-clr-bg0);
  --color-text-dark-2: var(--zx-clr-bg0);
  --color-text-dark-3: var(--zx-clr-bg1);
  --color-text-dark-4: var(--zx-clr-bg1);
  --color-text-dark-5: var(--zx-clr-bg2);
  --color-text-dark-6: var(--zx-clr-bg3);
  --color-border-light-1: var(--zx-clr-fg4);
  --color-border-light-2: var(--zx-clr-bg4);
  --color-border-dark-1: var(--zx-clr-bg0);
  --color-border-dark-2: var(--zx-clr-bg0);
  --color-border-dark-3: var(--zx-clr-bg1);
  --color-border-dark-4: var(--zx-clr-bg2);
  --color-border-dark-5: var(--zx-clr-bg3);
  --color-shadow-primary: var(--zx-clr-yellow);
  --color-shadow-highlight: var(--zx-clr-aqua);
  --color-shadow-dark: #1d2021;
  --color-underline-inactive: var(--zx-clr-bg4);
  --color-underline-active: var(--zx-clr-yellow);
  --color-underline-header: var(--zx-clr-aqua);
  --color-border-light-highlight: var(--zx-clr-fg0);
  --color-border-light-primary: var(--zx-clr-fg1);
  --color-border-light-secondary: var(--zx-clr-fg2);
  --color-border-light-tertiary: var(--zx-clr-fg4);
  --color-border-dark: var(--zx-clr-bg0);
  --color-border-dark-primary: var(--zx-clr-bg0);
  --color-border-dark-secondary: var(--zx-clr-bg1);
  --color-border-dark-tertiary: var(--zx-clr-bg2);
  --color-border-highlight: var(--zx-clr-aqua);
  --color-border-highlight-alt: var(--zx-clr-aqua-alt);
  --color-bg-btn-minor-inactive: var(--zx-clr-bg1);
  --color-bg-btn-minor-active: var(--zx-clr-aqua-alt);
  --color-bg-option: var(--zx-clr-fg3);
  --z-index-canvas: 0;
  --z-index-app: 30;
  --z-index-ui: 60;
  --z-index-window: 100;
  --sidebar-width: 300px;
  --sidebar-header-height: 32px;
  --sidebar-item-height: 48px;
  --hotbar-height: 52px;
  --hotbar-width: 578px;
  --macro-size: 50px;
  --players-width: 200px;
  --form-field-height: 26px;
  --font-primary: "Signika", sans-serif;
  --font-mono: monospace;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-30: 1.875rem;
  .window-app .window-content {
    background: var(--zx-clr-bg0);
  }
  select,
  button {
    background-color: var(--zx-clr-bg1);
    color: var(--zx-clr-fg0);
  }

  button {
    border: 1px solid var(--zx-clr-bg4);
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: none;
      color: var(--zx-clr-yellow);
      border-color: var(--zx-clr-yellow);
    }
  }

  .directory .directory-header .header-search input {
    background: var(--zx-clr-bg2);
  }
  .currency-gc {
    --currency-color: var(--zx-clr-yellow);
    color: var(--currency-color);
  }

  .currency-ss {
    --currency-color: var(--zx-clr-gray);
    color: var(--currency-color);
  }

  .currency-bp {
    --currency-color: var(--zx-clr-orange-alt);
    color: var(--currency-color);
  }

  .sheet-body {
    height: 100%;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"] {
    background-color: var(--zx-clr-bg1);
  }

  .editor {
    height: 100%;
  }

  div.editor .CodeMirror-vscrollbar {
    overflow-y: auto;
  }

  textarea {
    color: var(--zx-clr-fg0);
  }

  .editor-edit {
    background: var(--zx-clr-aqua-alt);
    color: var(--zx-clr-bg0);
    &:hover {
      text-shadow: none;
      background-color: var(--zx-clr-yellow-alt);
    }
  }

  a:hover,
  #combat #combat-round .encounters a:hover {
    text-shadow: none;
    color: var(--zx-clr-yellow);
  }
}

/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--zx-clr-bg0);
  box-shadow: 0 0 1px var(--zx-clr-bg1) inset;
  border: none;
}

::-webkit-scrollbar-thumb {
  background: var(--zx-clr-bg3);
  border: none;
  outline: none;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--zx-clr-aqua-alt);
}

:root {
  scrollbar-width: thin;
  scrollbar-color: var(--zx-clr-aqua-alt) var(--zx-clr-bg1);
}

@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/caslon-pro-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/caslon-pro-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Adobe Caslon Pro";
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/caslon-pro-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Dominican Small Caps";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/dominican-small-caps.woff2") format("woff2");
}